<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
</script>

<div style="float: left; ">
	<ul>
		<li><a href="{% url cluster cluster_id=cluster.id %}">Cluster Map</a></li>
		<li><a href="{% url economic_functions cluster_id=cluster.id %}">Functions</a></li>
		<li><a href="{% url cluster_agents cluster_id=cluster.id %}">Agents</a></li>
		{% if cluster.has_function_resources %}
			<li></li><a href="{% url radial_graph cluster_id=cluster.id %}">Radial Graph</a></li>
		{% endif %}
		<li><a href="{% url network cluster_id=cluster.id %}">Network Diagram</a></li>
		{% if cluster.has_flows %}
			<li><a href="{% url flows cluster_id=cluster.id %}">Flow Diagram</a></li>
		{% endif %}
		{% if cluster.has_function_resources %}
			<li><a href="{% url fr_table cluster_id=cluster.id %}">Function-Resource Table</a></li>
		{% endif %}
		<li><a href="{% url diagnostics cluster_id=cluster.id %}">Diagnostics</a></li>
		<li></li><a href="{% url clusters %}">All Clusters</a></li>
	</ul>
</div>
<div style="float: right; width: 10%;">
	{% if user.is_authenticated %}
		<a href="/admin">Admin</a><br />
		<a href="/help/">Help</a>
	{% else %}
		<a href="/admin">Log in</a>
	{% endif %}
</div>
<div style="clear: both;"></div>
