<div style="float: left; ">
	<a href="{% url cluster cluster_id=cluster.id %}">Cluster Map</a>&nbsp;&nbsp;
	<a href="{% url economic_functions cluster_id=cluster.id %}">Functions</a>&nbsp;&nbsp;
	<a href="{% url cluster_agents cluster_id=cluster.id %}">Agents</a>&nbsp;&nbsp;
	<a href="{% url radial_graph cluster_id=cluster.id %}">Diagram</a>&nbsp;&nbsp;
	<a href="{% url fr_table cluster_id=cluster.id %}">Function-Resource Table</a>&nbsp;&nbsp;
	<a href="{% url diagnostics cluster_id=cluster.id %}">Diagnostics</a>
</div>
<div style="float: right; width: 10%;">
	{% if user.is_authenticated %}
		<a href="/admin">Admin</a><br />
	{% else %}
		<a href="/admin">Log in</a><br />
	{% endif %}
</div>
<div style="clear: both;"></div>
