<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="/site_media/scripts/raphael-min.js"></script>
<script type="text/javascript" src="/site_media/scripts/dracula_graffle.js"></script>
<script type="text/javascript" src="/site_media/scripts/dracula_graph.js"></script>

<script type="text/javascript">

var redraw, g, renderer;
	
var colors = [
	"#5F9EA0",
	"#FF7F50",
	"#B8860B",
	"#FF1493",
	"#008000",
	"#7B68EE",
	"#D2691E"];
	
	

/* only do all this when document has finished loading (needed for RaphaelJS) */

$(document).ready(function() {
	
	$(".tog").change(function() 
	{
		//$("#toggleForm").submit();
		this.form.submit();
	});
    
	{% if use_window_size %}
		var width = $(document).width() - 50;
		var height = $(document).height() - 100;
	{% else %}
		var width = $('#canvas').width();
		var height = $('#canvas').height();
	{% endif %}
	
	   var render = function(r, n) {
            /* the Raphael set is obligatory, containing all you want to display */
			if(n.label)
			{
				var lbl = n.label;
				lbl = lbl.split(' ').join('\n');
				n.label = lbl;
			}
			//if(n.id.indexOf("Function") >= 0)
			//{
				var set = r.set().push(
					r.rect(n.point[0]-30, n.point[1]-13, 60, 44, 6).attr({"stroke": n.color, "stroke-width": 2 })).push(
					r.text(n.point[0], n.point[1] + 10, (n.label || n.id)).attr({"stroke": "DimGrey","stroke-width": 1}));
			//}
			//else
			//{
			//	var set = r.set().push(
			//		r.ellipse(n.point[0]-30, n.point[1]-13, 40, 25).attr({"fill": "#FFF8DC", "stroke-width": 2 })).push(
			//		r.text(n.point[0]-30, n.point[1]-10, (n.label || n.id)).attr({"stroke": "DimGrey","stroke-width": 1}));	
			//}
            return set;
        };
    
    g = new Graph();
	

	{% for node in nodes %}
		g.addNode( "{{ node.node_id }}", {label: "{{ node.name|safe }}", color: "{{ node.color }}", render:render } );
	{% endfor %}
	
	{% for edge in edges %}
			var label = "{{ edge.label }}";
			label = label.replace(/;/g, "\n");
	
			//var x = {{ forloop.counter }};
			//var color = colors[Math.floor(Math.random()*7)];
			var color = "{{ edge.from_node.color }}";
			g.addEdge( "{{ edge.from_node.node_id }}" , "{{ edge.to_node.node_id }}", 
				{ directed : true, 
				label : label, 
				weight: 1, 
				"font-size": "10px;",
				//"label-style": "white-space:nowrap;",
				stroke : color , 
				fill : color + "|{{ edge.width }}" } );
	{% endfor %}
 
    /* layout the graph using the Spring layout implementation */
    var layouter = new Graph.Layout.Spring(g);
    
    /* draw the graph using the RaphaelJS draw implementation */
    renderer = new Graph.Renderer.Raphael('canvas', g, width, height);
    
    redraw = function() {
        layouter.layout();
        renderer.draw();
    };

});

	
</script>
