{% load permissions %}

	<a href="{% url cluster cluster_id=cluster.id %}">Cluster Map</a>&nbsp;&nbsp;
	<a href="{% url economic_functions cluster_id=cluster.id %}">Functions</a>&nbsp;&nbsp;
	<a href="{% url cluster_agents cluster_id=cluster.id %}">Agents</a>&nbsp;&nbsp;
	<a href="{% url diagrams cluster_id=cluster.id %}">Diagrams</a>&nbsp;&nbsp;
	<a href="{% url reports cluster_id=cluster.id %}">Reports</a>
	{% cluster_perms request.user.id delete cluster.id as can_delete %}
	{% if can_delete %}
		&nbsp;&nbsp;
		<form style="display:inline;" action="{% url delete_cluster_confirmation cluster_id=cluster.id %}" method="POST">
			{% csrf_token %}
			<input type="submit" value="Delete" />
		</form>
	{% endif %}
