
<style>
	th{text-align: right;}
</style>

<form action="" method="get">
	<table>
		{{ filter.form.as_table }}
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" /></td>
		</tr>
	</table>
</form>

<div>
{% for afrt in filter.qs %}
    {% ifchanged afrt.agent_function.agent %}<p>{{ afrt.agent_function.agent.name }} of {{ afrt.agent_function.agent.address }}</p>{% endifchanged %}
		{% ifchanged afrt.agent_function %}<p style="margin-left: 1em;" >{{ afrt.agent_function.function.name }}</p>{% endifchanged %}
			<p style="margin-left: 2em;" >{{ afrt }}</p>
{% endfor %}
</div>