{% extends "base.html" %}
{% load permissions %}

{% block title %}
     Clusters
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<div id="top">
	<div id="header">
		
		<h2><a href="/"><span class="loceconLetters">loc</span><span class="otherLetters">al </span><span class="loceconLetters">econ</span><span class="otherLetters">omic development</span></a></h2>
		<img id="mushy" src="/site_media/images/mushy40.jpg" alt="Mushy the chanterelle mushroom" title="Mushy the chanterelle mushroom" />
	</div>
	<div id="rightLinks">
		<ul id="topLinks">
			{% if user.is_authenticated %}
				<li>{{ user }} <a href="{% url acct_logout %}">Logout</a></li>
				<li><a href="/help/">Help</a></li>
				{% if user.is_staff %}
					<li><a href="/admin/">Admin</a></li>
				{% endif %}
			{% else %}
				<li><a href="{% url acct_login %}">Log in</a></li>
				<li><a href="/contact/">Contact Us</a></li>
			{% endif %}
		</ul>
		<ul id="tabLinks">
			<li><a class="regularLink" href="/">Home</a></li>
			<li><a class="regularLink" href="/about/">About</a></li>
			<li><a class="regularLink" href="/maps/">Features</a></li>
			<li><a class="regularLink" href="/nova-story/">Stories</a></li>
			<li><a class="hiliteLink" href="/clusters/">View Clusters</a></li>
		</ul>
	</div>
</div>

<div id="content">
	{% if user.is_superuser %}
	<form action="{% url new_community  %}" method="GET">
    	<input type="submit" class="button-spaced" value="New Community" />
	</form>
	{% endif %}
		<ul>
			{% for community in communities  %}
				{% community_perms user edit community as can_edit %}
				{% if community.is_public or user.is_superuser or can_edit %}
				<li class="community" >
					<span class="community-name">{{ community }} Community</span>
					{% if can_edit %}
                        &nbsp;&nbsp;
                        <form style="display:inline;" action="{% url edit_community community_id=community.id %}" method="GET">
                            <input type="submit" value="Edit Community" />
                        </form>
                        <form style="display:inline;" action="{% url new_cluster community_id=community.id %}" method="GET">
                            <input type="submit" value="New Cluster" />
                        </form>
                        <a href="{% url community_members community_id=community.id %}">Community Members</a>
					{% endif %}
					{% if community.description %}
					<div class="description">
						{{ community.description|urlize|linebreaks }}
					</div>
					{% endif %}
				</li>
				{% if community.clusters.all %}
					<ul>
						{% for cluster in community.clusters.all %}
							{% if cluster.is_public or user.is_authenticated %}
							<li class="cluster" >
								<span class="cluster-name">{{ cluster.name }} Cluster:</span>&nbsp;&nbsp;
								{% include "clusters/_simple_cluster_nav.html" %}
								{% if cluster.description %}
									<div class="description">
										{{ cluster.description|urlize|linebreaks }}
									</div>
								{% endif %}
							</li>
							{% endif %}
						{% endfor %}
					</ul>
				{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
</div>

<div style="clear: both;"></div>
 
{% endblock %} 
