{% extends "base.html" %}

{% block title %}
     Clusters
{% endblock %}


{% block content %}
<div style="float: left; ">
	<h3>Communities and Clusters</h3>
</div>
<div style="float: right; width: 10%;">
	{% if user.is_authenticated %}
		{{ user }} <a href="{% url acct_logout %}">Logout</a><br />
		<a href="/help/">Help</a>
		{% if user.is_staff %}
			<br /><a href="/admin">Admin</a>
		{% else %}
			<br />
		{% endif %}
	{% else %}
		<a href="{% url acct_login %}">Log in</a>
		<br /><br /><br />
	{% endif %}
</div>
<div style="clear: both;"></div>
<div style="float: left; ">
	{% if user.is_authenticated %}
	<form action="{% url new_community  %}" method="GET">
    	<input type="submit" value="New Community" />
	</form>
	{% endif %}
		<ul>
			{% for community in communities  %}
				<li>
					{{ community }} Community
					{% if user.is_authenticated %}
					&nbsp;&nbsp;
					<form style="display:inline;" action="{% url edit_community community_id=community.id %}" method="GET">
						<input type="submit" value="Edit Community" />
					</form>
					<form style="display:inline;" action="{% url new_cluster community_id=community.id %}" method="GET">
						<input type="submit" value="New Cluster" />
					</form>

					{% endif %}
				</li>
				{% if community.clusters.all %}
					<ul>
						{% for cluster in community.clusters.all %}
							{% if cluster.is_public or user.is_authenticated %}
							<li>
								{{ cluster.name }}</a> Cluster:&nbsp;&nbsp;
								{% include "clusters/_simple_cluster_nav.html" %}

							</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
		</ul>
</div>

<div style="clear: both;"></div>
 
{% endblock %} 
