{% extends "base.html" %}
{% load permissions %}

{% block title %}
     Clusters
{% endblock %}

{% block header %}
<style>
.description p {
	margin: 0 0 4px 1em;
	font-size: 90%;
}
	
.community-name {
	font-weight: bold;
}
	
	
/*LF from here*/
#header {
	text-align: left;
	margin: 0;
	padding: 0;
}
#header h2 {
	font-size: 2.5em;
	margin: 0;
	padding: 0;
}
#header h3 {
	font-size: 1.1em;
	margin: 0;
	padding: 0;
}
.loceconLetters {
	color: black;
}
.otherLetters {
	color: #858585;
}
#firstSubtitle {
	color: #660099;
}
#arrow {
	color: #660099;
	font-size: 120%;
}
#arrow2 {
	color: #29A329;
	font-size: 100%;
}
#more {
	color: #cc0000;
}
#secondSubtitle {
	color: #29A329;
	margin-bottom: .2em;
}
#rightLinks {
	margin: 2px 2em 0 0;
	font-size: .8em;
}
#rightLinks ul {
	list-style-type: none;
	padding:0;
}
#rightLinks a:link,a:visited {
    display:block;
    font-weight:bold;
    text-align: left;
    padding:4px 10px 4px 10px;
    border-bottom: solid 2px #F5F5F5;
    text-decoration:none;
}
#rightLinks a:hover,a:active {
    background-color: black;
    color: white;
}
.hiliteLink { 
    background-color: #ffcc00;
    color: #a60000;
}
.regularLink { 
    background-color: #858585;
    color:#FFFFFF;
}
</style>

{% endblock %}

{% block content %}
<div style="float: left; ">
	<h2><span class="loceconLetters">Loc</span><span class="otherLetters">al </span><span class="loceconLetters">Econ</span><span class="otherLetters">omic Development</span></h2>
	<h3>Communities and Clusters</h3>
</div>

<div id="rightLinks" style="float: right; width: 130px;">
	<ul>
	{% if user.is_authenticated %}
		<li>{{ user }} <a class="regularLink" href="{% url acct_logout %}">Logout</a></li>
		<li><a class="regularLink" href="/help/">Help</a></li>
		{% if user.is_staff %}
			<li><a class="regularLink" href="/admin">Admin</a></li>
		{% endif %}
		<li><a class="regularLink" href="/about/">About</a></li>
	{% else %}
		<li><a class="regularLink" href="{% url acct_login %}">Log in</a></li>
		<li><a class="regularLink" href="/about/">About</a></li>
	{% endif %}
	</ul>
</div>

<div style="clear: both;"></div>
<div style="float: left; ">
	{% if user.is_superuser %}
	<form action="{% url new_community  %}" method="GET">
    	<input type="submit" value="New Community" />
	</form>
	{% endif %}
		<ul>
			{% for community in communities  %}
				{% if community.is_public %}
				<li class="community" >
					<span class="community-name">{{ community }} Community</span>
					{% community_perms user edit community as can_edit %}
					{% if can_edit %}
					&nbsp;&nbsp;
					<form style="display:inline;" action="{% url edit_community community_id=community.id %}" method="GET">
						<input type="submit" value="Edit Community" />
					</form>
					<form style="display:inline;" action="{% url new_cluster community_id=community.id %}" method="GET">
						<input type="submit" value="New Cluster" />
					</form>
					{% endif %}
					{% if community.description %}
					<div class="description">
						{{ community.description|linebreaks }}
					</div>
					{% endif %}
				</li>
				{% if community.clusters.all %}
					<ul>
						{% for cluster in community.clusters.all %}
							{% if cluster.is_public or user.is_authenticated %}
							<li class="cluster" >
								{{ cluster.name }}</a> Cluster:&nbsp;&nbsp;
								{% include "clusters/_simple_cluster_nav.html" %}
								{% if cluster.description %}
									<div class="description">
										{{ cluster.description|linebreaks }}
									</div>
								{% endif %}
							</li>
							{% endif %}
						{% endfor %}
					</ul>
				{% endif %}
				{% endif %}
			{% endfor %}
		</ul>
</div>

<div style="clear: both;"></div>
 
{% endblock %} 
