{% extends "base.html" %}

{% block title %}
     Cluster: {{ cluster }}
{% endblock %}

{% block header %}


{% endblock %}

{% block content %}



<h3>Cluster: {{ cluster }}</h3>

<div style="float:left;" >
	<table>
		<tr><th style="text-align: center; font-size: 120%; " colspan="4" >Functions:</th></tr>
		{% for fun in functions %}
			<tr><th style="text-align: left; font-size: 110%; " colspan="4" >{{ fun.name }}</th></tr>
			{% if fun.inputs %}
				<tr>
					<th style="vertical-align: top; text-align: right; padding-left: 1em; " >Consumes:</th>
					{% for resource in fun.inputs %}
						{% if forloop.first %}
							<td>
								{{ resource.resource_type }}
							</td>
							<td colspan="2">
								<b>Amt:</b> {{ resource.amount }}<br />	
							</td>
						{% else %}
							<tr>
								<td>&nbsp;</td>
								<td>
									{{ resource.resource_type }}
								</td>
								<td colspan="2">
									<b>Amt:</b> {{ resource.amount }}<br />	
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				</tr>
			{% endif %}
			{% if fun.outputs %}
				<tr>
					<th style="vertical-align: top; text-align: right; padding-left: 1em; " >Produces:</th>
					{% for resource in fun.outputs %}
						{% if forloop.first %}
							<td>
								{{ resource.resource_type }}
							</td>
							<td colspan="2">
								<b>Amt:</b> {{ resource.amount }}<br />	
							</td>
						{% else %}
							<tr>
								<td>&nbsp;</td>
								<td>
									{{ resource.resource_type }}
								</td>
								<td colspan="2">
									<b>Amt:</b> {{ resource.amount }}<br />	
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				</tr>
			{% endif %}
			<form>
			<tr>
				<td>{{ fun.form.role }}</td>
				<td>{{ fun.form.resource_type }}</td>		
				<td>{{ fun.form.amount }}</td>
				<td><input type="submit" name="submit" value="Add" /></td>
			</tr>
			</form>
		{% endfor %}
	</table>
</div>

<div style="float:left; margin-left: 2em;" >
	<table>
		<tr><th style="text-align: center; font-size: 120%; " colspan="2" >Resources:</th></tr>
		{% for res in cluster.resources %}
			<tr><th style="text-align: left; font-size: 110%; " colspan="2" >{{ res }}</th></tr>
			{% if res.producers %}
				<tr>
					<th style="vertical-align: top; text-align: right; padding-left: 1em; " >Producers:</th>
					<td>
					{% for fun in res.producers %}
						{{ fun.function.name }}<br />
					{% endfor %}
					</td>
				</tr>
			{% endif %}
			{% if res.consumers %}
				<tr>
					<th style="vertical-align: top; text-align: right; padding-left: 1em; " >Consumers:</th>
					<td>
					{% for fun in res.consumers %}
						{{ fun.function.name }}<br />	
					{% endfor %}
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
</div>
<div style="clear: both;" ></div> 
{% endblock %}
