{% extends "base.html" %}

{% block title %}
     Cluster: {{ cluster }}
{% endblock %}

{% block header %}


{% endblock %}

{% block content %}

<h3>Cluster: {{ cluster }}</h3>

{% if map_url %}

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?hl=en&amp;ie=UTF8&amp;msa=0&amp;msid=116257466197979072553.000479c08b94dfbd2d049&amp;ll=43.634087,-90.892639&amp;spn=0.695754,1.167297&amp;z=9&amp;output=embed"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?hl=en&amp;ie=UTF8&amp;msa=0&amp;msid=116257466197979072553.000479c08b94dfbd2d049&amp;ll=43.634087,-90.892639&amp;spn=0.695754,1.167297&amp;z=9&amp;source=embed" style="color:#0000FF;text-align:left">WWLFI</a> in a larger map</small>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
	src="{{ map_url }}"></iframe>
<br />
<small>View <a href="{{ map_url }}" style="color:#0000FF;text-align:left">WWLFI</a> in a larger map</small>

{% endif %}

{% endblock %}
