{% extends "base.html" %}

{% block title %}
     Cluster: {{ cluster }}
{% endblock %}

{% block header %}


{% endblock %}

{% block content %}



<h3>Cluster: {{ cluster }}</h3>

<div style="float:left;" >
	<table>
		<tr><th style="text-align: center;" >Functions:</th></tr>
		{% for fun in cluster.functions.all %}
			<tr><th style="text-align:left" >{{ fun.name }}</th></tr>
			{% for resource in fun.resources.all %}
				<tr><td>{{ resource }}</td></tr>		
			{% endfor %}
		{% endfor %}
	</table>
</div>

<div style="float:left;" >
	<table>
		<tr><th style="text-align: center;" >Resources:</th></tr>
		{% for res in cluster.resources %}
			<tr><th style="text-align:left" >{{ res }}</th></tr>
			{% for fun in res.functions.all %}
				<tr><td>{{ fun }}</td></tr>		
			{% endfor %}
		{% endfor %}
	</table>
</div>
<div style="clear: both;" ></div> 
{% endblock %}
