{% extends "base.html" %}

{% block title %}
     Manage Members in Community: {{ community }}
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}

<div class="users">


<h3>Manage Members in Community: {{ community }}</h3>

<div width="48%" class="section-div">
    <h4>Add new member</h4>
    <table>
        <form id="userAgentForm" action="{% url new_community_member community_id=community.id %}" method="POST">{% csrf_token %}
        
            {{ new_member_form.as_table }}
            {{ new_user_form.as_table }}
            
            <tr>
                <td><input type="submit" name="submit_member" value="Add Member" /></td>
            </tr>
        </form>
    </table>
</div>
    
<div>
    <h3 class="emphasis">Community Members</h3>
    
    <form method="post" action="">{% csrf_token %}
        {% comment %}
        <input type="submit" name="submit_changes" value="Save Member changes" />
        {% endcomment %}
        <br /><br />
        <table>
            <thead>
                <th>Member</th>
                <th>Role</th>
                <th>Del</th>
            </thead>
            <tbody>
                {{ formset.management_form }}
                {% for form in formset %}
                    {{ form.id }}
                    <tr>
                        {{ form.community }}
                        {{ form.member }}
                        <td>{{ form.username }} </td>
                        <td>{{ form.permission_role }}</td>
                        <td>{{ form.DELETE }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br />
        <input type="submit" name="submit_changes" value="Save Member changes" />
    </form>
</div>
 
    
</div>
    

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>


<script>
    $(document).ready(function()
    {   
        
        var userNames = "{{ user_names }}".split("~");
        
        
        jQuery.validator.setDefaults({ 
            success: function(label) {
                label
                    .text('').addClass('valid')
                    .closest('.control-group').addClass('success');
            }
        });


        $( "#userAgentForm" ).validate({
            rules: {
                'first_name': {
                    required: true
                },
                username: {
                    required: true
                },
                password1: {
                    required: true
                },
                password2: {
                    required: true,
                    equalTo: "#id_password1"
                },               
                email: {
                    required: true,
                    email: true
                }
            },
            highlight: function(label) {
                $(label).closest('.control-group').addClass('error');   
            },
        });

    
    });
</script>



{% endblock %}
