{% extends "base.html" %}

{% block title %}
     Manage Members in Community: {{ community }}
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}

<div class="users">

<div id="top">
	<div id="header">
		
		<h2><a href="/"><span class="loceconLetters">loc</span><span class="otherLetters">al </span><span class="loceconLetters">econ</span><span class="otherLetters">omic development</span></a></h2>
		<img id="mushy" src="/site_media/images/mushy40.jpg" alt="Mushy the chanterelle mushroom" title="Mushy the chanterelle mushroom" />
	</div>
	<div id="rightLinks">
		<ul id="topLinks">
			{% if user.is_authenticated %}
				<li>{{ user }} <a href="{% url acct_logout %}">Logout</a></li>
				<li><a href="/help/">Help</a></li>
				{% if user.is_staff %}
					<li><a href="/admin/">Admin</a></li>
				{% endif %}
			{% else %}
				<li><a href="{% url acct_login %}">Log in</a></li>
				<li><a href="/contact/">Contact Us</a></li>
			{% endif %}
		</ul>
		<ul id="tabLinks">
			<li><a class="regularLink" href="/">Home</a></li>
			<li><a class="regularLink" href="/about/">About</a></li>
			<li><a class="regularLink" href="/maps/">Features</a></li>
			<li><a class="regularLink" href="/nova-story/">Stories</a></li>
			<li><a class="hiliteLink" href="/clusters/">View Clusters</a></li>
		</ul>
	</div>
</div>

<h2>Manage Members in Community: {{ community }}</h2>

<div class="section-div">
    <h4>Add new member</h4>
    <form id="newMemberForm" action="{% url new_community_member community_id=community.id %}" method="POST">{% csrf_token %}
        <table class="tbl-form">
            {{ new_member_form.as_table }}
            {{ new_user_form.as_table }}
            <tr>
                <td><input type="submit" name="submit_member" value="Add Member" /></td>
            </tr>
        </table>
    </form>
</div>
    
<div>
    <br />
    <h3 class="emphasis">Existing Community Members</h3>
    
    <form id="changeMembersForm" method="post" action="">{% csrf_token %}
        {% comment %}
        <input type="submit" name="submit_changes" value="Save Member changes" />
        {% endcomment %}
        <table>
            <thead>
                <th>Member</th>
                <th>Role</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {{ formset.management_form }}
                {% for form in formset %}
                    {{ form.id }}
                    <tr>
                        {{ form.community }}
                        {{ form.member }}
                        <td>{{ form.username }} </td>
                        <td>{{ form.permission_role }}</td>
                        <td>{{ form.DELETE }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <br />
        <input type="submit" name="submit_changes" value="Save Member changes" />
    </form>
</div>
 
    
</div>
    

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js"></script>


<script>
    $(document).ready(function()
    {   
        
        //var userNames = "{{ user_names }}".split("~");

        $( "#newMemberForm" ).validate({
            rules: {
                'first_name': {
                    required: true
                },
                username: {
                    required: true
                },
                password1: {
                    required: true
                },
                password2: {
                    required: true,
                    equalTo: "#id_password1"
                },  
                email: {
                    required: true,
                    email: true
                }
            }    
            
        });

        var validator = $( "#newMemberForm" ).validator;
    
    });
</script>



{% endblock %}
