{% extends "base.html" %}

{% block title %}
     Delete Function {{ function.name }}
{% endblock %}


{% block content %}

	<h3>Delete Cluster {{ cluster.name }}</h3>


	<h3>Are you sure you want to delete this cluster?</h3>

	<div style="margin-left: 2em; margin-bottom: 1em; ">
		<form style="display: inline;" action="{% url delete_cluster cluster_id=cluster.id %}" method="POST">
			{% csrf_token %}
    			<input type="submit" value="Delete" />
		</form>
		<form style="display: inline;" action="{% url clusters %}" method="GET">
    			<input type="submit" value="Cancel" />
		</form>
	</div>
	
	{% if functions %}
	
	<h3>The following items will also be deleted:</h3>

		<h4>Functions:</h4>
		<ul>
		{% for function in functions %}
			<li>{{ function }}</li>	

			{% if function.resources.all %}
				<li><h4>Function Resources:</h4></li>
				<ul>
				{% for item in function.resources.all %}
					<li>{{ item }}</li>	
				{% endfor %}
				</ul>
			{% endif %}
			
			
			{% if function.flows %}
				<li><h4>Function Flows:</h4></li>
				<ul>
				{% for item in function.flows %}
					<li>{{ item.id }} {{ item }}</li>	
				{% endfor %}
				</ul>
			{% endif %}

	
			{% if function.agents.all %}
				<li><h4>Agent Functions:</h4></li>
				<ul>
				{% for af in function.agents.all %}
					<li>{{ af.id }} {{ af }}</li>
	
					{% if af.function_resources.all %}
						<li><h4>Agent Function Resources:</h4></li>
						<ul>
						{% for item in af.function_resources.all %}
							<li>{{ item.id }} {{ item }}</li>	
						{% endfor %}
						</ul>
					{% endif %}

					{% if af.flows %}
						<li><h4>Agent Function Flows:</h4></li>
						<ul>
						{% for item in af.flows %}
							<li>{{ item.id }} {{ item }}</li>	
						{% endfor %}
						</ul>
					{% endif %}

				{% endfor %}
				</ul>

			{% endif %}

		{% endfor %}
		</ul>
	
	{% endif %}

</div>
{% endblock %}