{% extends "base.html" %}

{% load humanize %}

{% block title %}
     Diagnostics for Cluster: {{ cluster }}
{% endblock %}

{% block extra_head %}

<style>

body {font-size:90%}
h1 {font-size:2.25em}
h2 {font-size:1.6875em}
p {font-size:0.7875em}
	
</style>

{% endblock %}

{% block content %}



<h3>Diagnostics for Cluster: {{ cluster }}</h3>

{% include "clusters/_cluster_nav.html" %}

{% if disjoints %}
	<h3>The following functions are disconnected.</h3>
	<h4><i>Either they will not appear in the cluster diagram, or the diagram will be broken</i></h4>
	<p>
		Either these functions do not belong in this cluster, or they lack connections to other cluster functions through resources.
	</p>
	<ul>
		{% for dis in disjoints %}
			<li>{{ dis.name }}</li>
		{% endfor %}
	</ul>
{% endif %}

{% endblock %}
