{% extends "base.html" %}

{% load humanize %}

{% block title %}
     Economic Diagnostics for Cluster: {{ cluster }}
{% endblock %}

{% block extra_head %}

<style>

body {font-size:90%}
h1 {font-size:2.25em}
h2 {font-size:1.6875em}
p {font-size:0.7875em}
	
</style>

{% endblock %}

{% block content %}

<div class="reports">

{% include "clusters/_cluster_nav.html" %}

<h3>Economic Diagnostics for Cluster: {{ cluster }}</h3>

<div style="float: left;">
<h3>
    Gaps 
	{% if level_form %}
		&nbsp;&nbsp;&nbsp;
		<form style="display: inline; margin: 0; padding: 0;" id="levelForm" action="." method="POST">{% csrf_token %}
			Show {{ level_form.level }}
		</form>
	{% endif %}
</h3>

{% if function_production_without_consumption %}
	<h3>Function production lacking consumption in cluster:</h3>
	<table>
		{% for miss in function_production_without_consumption %}
			<tr>
				<td>{{ miss.function_resource }}</td>
				{% if "quantity_missing" in miss %}
					<td style="text-align: right; " >Missing quantity:</td>
					 <td style="text-align: right; " >{{ miss.quantity_missing|intcomma }}</td>
				{% else %}
					<td style="text-align: right; " >Missing value:</td>
					<td style="text-align: right; " > {{ miss.value_missing|intcomma }}</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
	{% else %}
	<h3>All function production is consumed within this cluster</h3>
{% endif %}


{% if function_consumption_without_production %}
	<h3>Function consumption lacking  production in cluster:</h3>
	<table>
		{% for miss in function_consumption_without_production %}
			<tr>
				<td>{{ miss.function_resource }}</td>
				{% if "quantity_missing" in miss %}
					<td style="text-align: right; " >Missing quantity:</td>
					<td style="text-align: right; " > {{ miss.quantity_missing|intcomma }}</td>
				{% else %}
					<td style="text-align: right; " >Missing value:</td>
					<td style="text-align: right; " > {{ symbol }}{{ miss.value_missing|intcomma }}</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
	{% else %}
	<h3>All function consumption is produced within this cluster</h3>
{% endif %}
	
</div>

{% if function_io_vs_flows %}
<div style="float: left; margin-left: 1em;">
	<h3>
		Function Production-Consumption vs Flows
	</h3>
	
	<table>
		<tr>
			<th>Function or Flow</th>
			<th>Resource</th>
			<th>Qty</th>
			<th>Value</th>
		</tr>
		{% for line in function_io_vs_flows %}
			<tr>
				{% if line.flow %}
					{% if line.matched %}
						<td style="background: #EAF2D3;" >Matched Flow: from {{ line.from_function.name }} to {{ line.to_function.name }} </td>
					{% else %}
						<td style="background: #EAF2D3;" >Unmatched Flow: from {{ line.from_function.name }} to {{ line.to_function.name }}</td>
					{% endif %}
					<td style="background: #EAF2D3;" >{{ line.resource_type }}</td>
					<td style="text-align: right; background: #EAF2D3; " >{{ line.quantity|intcomma }}</td>
					<td style="text-align: right; background: #EAF2D3; " >{{ symbol }}{{ line.value|intcomma }}</td>
				{% else %}
					<td style="text-align: right; ">{{ line.function.name }} {{ line.role }}</td>
					<td>{{ line.resource_type.name }}</td>
					<td style="text-align: right; " >{{ line.quantity|intcomma }}</td>
					<td style="text-align: right; " >{{ symbol }}{{ line.value|intcomma }}</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>


 </div>
{% endif %}
	
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	
	$(".tog").change(function() 
	{
		this.form.submit();
	});

});
	
</script>
{% endblock %}
