{% extends "base.html" %}

{% block title %}
     Diagrams for {{ cluster }}
{% endblock %}

{% block extra_head %}
<style>

</style>

{% endblock %}

{% block content %}

<div class="diagrams">

{% include "clusters/_cluster_nav.html" %}
	
	<h2>Diagrams for {{ cluster }}</h2>
	
	<p class="desc">
		Several ways to visualize your cluster.</br>
		Not all diagrams will work or make sense for all clusters.
	</p>
		<p class="bigger"><a href="{% url network cluster_id=cluster.id %}">Network Diagram</a></p>
		{% if cluster.has_function_resources %}
			<p class="bigger"><a href="{% url radial_graph cluster_id=cluster.id %}">Radial Graph</a></p>
		{% else %}
			<h4>This diagrams requires functions with resource consumption and production:</h4>
			<p>Radial Graph</a></p>
		{% endif %}
	
		{% if cycles %}
			<h4>This diagram does not currently work with clusters that have cycles:</h4>
			<p>Sankey Diagram</p>
			<div style="margin-left: 2em;">
				<p><b>Cycles:</b></p>
				{% for cycle in cycles %}
					<ul>
						<li>{{ cycle }}</li>
					</ul>
				{% endfor %}
			</div>
		{% else %}
			<p class="bigger"><a href="{% url sankey cluster_id=cluster.id %}">Sankey Diagram</a></p>
		{% endif %}
		
		{% if cluster.has_flows %}
			<p class="bigger"><a href="{% url flows cluster_id=cluster.id %}">Flow Diagram</a></p>
		{% else %}
			<h4>This diagram requires flows but does not have any:</h4>
			<p>Flow Diagram</p>
		{% endif %}

</div>
{% endblock %} 
