{% extends "base.html" %}

{% block title %}
     Edit Community {{ community.name }}
{% endblock %}

{% block extra_head %}


<style>

body {font-size:90%}
h1 {font-size:2.25em}
h2 {font-size:1.6875em}
p {font-size:0.7875em}
	
</style>

{% endblock %}

{% block content %}



<h3>Edit Community {{ community.name }}</h3>

<a href="{% url clusters %}">Back to All Clusters</a>

	<form action="." method="POST" >{% csrf_token %}
		<table style="padding-top: 1em;" >
			<tr>
				<th style="text-align: right; " >Name:</th>
				<td>{{ form.name }} <span id="name-comment" style="color:green;" ></span></td>
			</tr>
			<tr>
				<th style="text-align: right; " >Map Center:</th>
				<td>{{ form.map_center }}</td>
			</tr>
			<tr>
				<th style="text-align: right; " >Map Zoom Level</th>
				<td>{{ form.map_zoom_level }}</td>
			</tr>
			<tr>
				<th style="text-align: right; " >Unit of Value</th>
				<td>{{ form.unit_of_value }}</td>
			</tr>
			<tr>
				<th style="text-align: right; " >Resource Aspect Name</th>
				<td>{{ form.resource_aspect_name }}</td>
			</tr>
			<tr>
				Resource aspect is an optional field that can be used to classify Resources for diagrams and reports. 
				If you do not give the field a name, it will not be used.  If you do use it, Resources without a value 
				in that field will not be included when you select by aspect.
			</tr>
			<tr>
				<th style="text-align: right; " >Agent Geographic Area Name</th>
				<td>{{ form.agent_geographic_area_name }}</td>
			</tr>
			<tr>
				Geographic Area is an optional field that can be used to combine Agents on maps. 
				If you do not give the field a name, it will not be used.  If you do use it, Agents without a value 
				in that field will not be included when you map by area.
			</tr>
		</table>
		{{ form.latitude }}
		{{ form.longitude }}
		<input id="submit" type="submit" value="Submit" />
	</form>
<div id="map_canvas" style="height: 500px; width: 1000px;"></div>

<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key={{ map_key }}&sensor=false">
</script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/site_media/css/jquery.autocomplete.css" type="text/css" />
  <script type="text/javascript" src="/site_media/scripts/jquery.bgiframe.min.js"></script>

  <script type="text/javascript" src="/site_media/scripts/jquery.autocomplete.js"></script>


<script>
	
var geocoder;
var map;
var old_marker = new google.maps.Marker();
	
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var myOptions = {
      center: new google.maps.LatLng({{ map_center }}),
      zoom: {{ community.map_zoom_level }},
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  }

  function codeAddress() {
	old_marker.setMap(null);
    var address = document.getElementById("id_map_center").value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var loc = results[0].geometry.location;
		var lat = loc.lat()
		var lng = loc.lng();
		$("#id_latitude").val(lat);
		$("#id_longitude").val(lng);
        map.setCenter(loc);
        var marker = new google.maps.Marker({
            map: map,
            position: loc
        });
		old_marker = marker;
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
	
	function reZoom()
	{
		var zoom = $("#id_map_zoom_level").val();
		map.setZoom(parseInt(zoom));
	}

$(document).ready(function(){
	initialize();
	codeAddress();
	$("#id_map_center").blur(codeAddress);
	$("#id_map_zoom_level").blur(reZoom);
});
	
	
 </script>


{% endblock %}
