{% extends "base.html" %}

{% load humanize %}

{% block title %}
     Edit Flows in Cluster: {{ cluster }}
{% endblock %}

{% block extra_head %}

<style>

body {font-size:90%}
h1 {font-size:2.25em}
h2 {font-size:1.6875em}
p {font-size:0.7875em}
th {white-space: nowrap;}
	
</style>

{% endblock %}

{% block content %}

<div class="agents">

{% include "clusters/_cluster_nav.html" %}

<h3>Edit Agent Flows in Cluster: {{ cluster }}</h3>

<div>
	
	<table>
		<form action="{% url new_agent_function cluster_id=cluster.id %}" method="POST">{% csrf_token %}
			<tr>
				<th style="text-align: right; " >New Function:</th>
				<td>{{ new_function_form.name }}</td>
				{% if function_aspect_name %}
					<th style="text-align: right;" >{{ function_aspect_name }}:</th>
					<td>{{ new_function_form.aspect }}</td>
				{% endif %}
				<th style="text-align: right;" >Agent:</th>
				<td>{{ new_function_form.agent }}</td>
				<td><input id="submit-new-function" type="submit" name="submit" value="Add" /></td>
			</tr>
			<tr><td colspan="4"><span id="function-comment" style="color:green;" ></span></td></tr>
			<input type="hidden" name="next" value="{% url edit_agent_flows cluster_id=cluster.id %}" />
		</form>
	</table>
	
</div>

<div style="float:left; width: 60%;" >	
	<table>
		<form action="{% url inline_new_resource cluster_id=cluster.id %}" method="POST">{% csrf_token %}
			<tr>
				<th style="text-align: right;" >New Resource:</th>
				<td>{{ new_resource_form.name }}</td>
				{% if resource_aspect_name %}
					<th style="text-align: right;" >{{ resource_aspect_name }}:</th>
					<td>{{ new_resource_form.aspect }}</td>
				{% endif %}
				<th style="text-align: right;" >Unit of qty:</th>
				<td>{{ new_resource_form.unit_of_quantity }}</td>
				<td><input id="submit-new-resource" type="submit" name="submit" value="Add" /></td>
			</tr>
			<tr><td colspan="4"><span id="name-comment" style="color:green;" ></span></td></tr>
			<input type="hidden" name="next" value="{% url edit_agent_flows cluster_id=cluster.id %}" />
		</form>
	</table>

	<h3>Add or change flows</h3>
	<input type="submit" name="submit_flows" value="Save flow changes" />
	<form method="post" action="">{% csrf_token %}
		<table>
			<thead>
				<th>From Function</th>
				<th>To Function</th>
				<th>Resource</th>
				<th>Quantity</th>
				<th>Value</th>
				<th>Del</th>
			</thead>
			<tbody>
				{{ formset.management_form }}
				{% for form in formset %}
					{{ form.id }}
					<tr>
						<td>{{ form.from_function }}</td>
						<td>{{ form.to_function }}</td>
						<td>{{ form.resource_type }}</td>
						<td>{{ form.quantity }}</td>
						<td>{{ form.value }}</td>
						<td>{{ form.DELETE }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<input type="submit" name="submit_flows" value="Save flow changes" />
	</form>
</div>

<div style="float:left; margin-left: 2em; width: 35%; " >

<div id="canvas"></div>
<button style="margin-left: 8em;" id="redraw" onclick="redraw();">redraw</button>
{% include "clusters/_flow_diagram.html" %}
	{% if not edges %}
		<p>
			A flow diagram will appear here as you add Flows.
		</p>
	{% endif %}
</div>

<div style="clear: both;" ></div> 
	
</div>
	
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/site_media/css/jquery.autocomplete.css" type="text/css" />
  <script type="text/javascript" src="/site_media/scripts/jquery.bgiframe.min.js"></script>

  <script type="text/javascript" src="/site_media/scripts/jquery.autocomplete.js"></script>


<script>
	
function html_unescape(text) {
    // Unescape a string that was escaped using django.utils.html.escape.
    text = text.replace(/&lt;/g, '<');
    text = text.replace(/&gt;/g, '>');
    text = text.replace(/&quot;/g, '"');
    text = text.replace(/&#39;/g, "'");
    text = text.replace(/&amp;/g, '&');
    return text;
}
	
var resourceNames = html_unescape("{{ resource_names }}").split("~");
var functionNames = html_unescape("{{ function_names }}").split("~");
	
	$(document).ready(function()
	{
		$("#id_function-name").autocomplete(functionNames, {matchContains: true});
		$("#id_resource-name").autocomplete(resourceNames, {matchContains: true});
		$("#id_function-name").blur(getFunctionDetails);
		$("#id_resource-name").blur(getResourceDetails);
	
		$(".quantity").blur(function() 
		{
			var quantity = this.value;
			intQuantity = parseInt(quantity);
			if ($.isNumeric(quantity))
			{
				if (intQuantity == parseFloat(quantity))
				{
					var id = this.id;
					$.post("{% url change_function_resource_amount %}",  { id: id, quantity: quantity });
				}
				else
				{
					alert(quantity + " must be an integer");
					this.value = intQuantity;
				}
			}
			else
			{
				alert(quantity + " is not a number");
				this.value = intQuantity;
			}
		});
	
function getFunctionDetails(event)
{
	$("#id_function-aspect").attr("disabled", false);
	$("#function-comment").html("");
	$("#submit-new-function").attr("value", "Add");
	
	var name = event.target.value;
	for(i=0;i<functionNames.length;i++)
	{
		if(functionNames[i]==name)
		{
			var jsonUrl = encodeURI("/clusters/jsonfunctionaspect/" + name + "/" + {{ cluster.id }} + "/");
			$.get(jsonUrl,
				function(data){
					var aspect = eval(data)[0].fields.aspect;
					$("#id_function-aspect").val(aspect);
					$("#id_function-aspect").attr("disabled", true);
					$("#function-comment").html("Existing Function which you may re-use");
					$("#submit-new-function").attr("value", "Re-use for this agent");
				});
			break;
		}

	}
}
	
function getResourceDetails(event)
{
	$("#id_resource-unit_of_quantity").attr("disabled", false);
	$("#id_resource-aspect").attr("disabled", false);
	$("#name-comment").html("");
	$("#submit-new-resource").attr("value", "Add");
	
	var name = event.target.value;
	for(i=0;i<resourceNames.length;i++)
	{
		if(resourceNames[i]==name)
		{
			var jsonUrl = encodeURI("/clusters/jsonresourceunit/" + name + "/");
			$.get(jsonUrl,
				function(data){
					var unit = eval(data)[0].fields.unit_of_quantity;
					$("#id_resource-unit_of_quantity").val(unit);
					$("#id_resource-unit_of_quantity").attr("disabled", true);
					$("#name-comment").html("Existing Resource which you may re-use");
					$("#submit-new-resource").attr("value", "Re-use in this community");
				});
			var jsonUrl = encodeURI("/clusters/jsonresourceaspect/" + name + "/" + {{ cluster.community.id }} + "/");
			$.get(jsonUrl,
				function(data){
					if(data.length > 0)
					{
						var aspect = eval(data)[0].fields.aspect;
						if (aspect.length > 0)
						{
							$("#id_resource-aspect").val(aspect);
							$("#id_resource-aspect").attr("disabled", true);
						}
					}
				});
			break;
		}

	}
}
	
	$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});

	
	});
</script>



{% endblock %}
