{% extends "base.html" %}

{% load humanize %}

{% block title %}
     Edit Function Inputs and Outputs in Cluster: {{ cluster }}
{% endblock %}

{% block extra_head %}

<style>

body {font-size:90%}
h1 {font-size:2.25em}
h2 {font-size:1.6875em}
p {font-size:0.7875em}
	
</style>

{% endblock %}

{% block content %}

<div class="functions">

{% include "clusters/_cluster_nav.html" %}

<h3>Edit Function Inputs and Outputs in Cluster: {{ cluster }}</h3>

<div style="float:left;" >
	<table>
		<form action="{% url inline_new_function cluster_id=cluster.id %}" method="POST">{% csrf_token %}
			<tr>
				<th style="text-align: right;" >New Function:</th>
				<td>{{ new_function_form.name }}</td>
				<tr>
					<th style="text-align: right;" >Color:</th>
					<td>{{ new_function_form.color }}</td>
				</tr>
				{% if not function_aspect_name %}
					<td><input type="submit" name="submit" value="Add Function" /></td>
				{% endif %}
			</tr>
			{% if function_aspect_name %}
				<tr>
					<th style="text-align: right;" >{{ function_aspect_name }}:</th>
					<td>{{ new_function_form.aspect }}</td>
				<td><input type="submit" name="submit" value="Add Function" /></td>
				</tr>
			{% endif %}
			<input type="hidden" name="next" value="{% url edit_cluster_functions cluster_id=cluster.id %}" />
		</form>
		<br/>

		{% for fun in functions %}
			<tr>
				<th style="text-align: left; font-size: 110%; " colspan="2" >
					{{ fun.name }}
					<form style="display: inline;" action="{% url edit_function function_id=fun.id %}" method="POST">
						{% csrf_token %}
						<input type="submit" value="Edit" />
					</form>
					<form style="display: inline;" action="{% url delete_function function_id=fun.id %}" method="POST">
						{% csrf_token %}
						<input type="submit" value="Del" />
					</form>
				</th>
				<th>Qty</th>
				<th>Price</th>
			</tr>
			{% if fun.inputs %}
					{% for resource in fun.inputs %}
						{% if forloop.first %}
						<tr style="background: #EAF2D3;" >
							<th style="vertical-align: top; text-align: right; padding-left: 1em; " >Consumes:</th>
							<td>
								{{ resource.resource_type }}
							</td>
							<td style="text-align: right; ">
								<input class="quantity" id="{{ resource.id }}" type="text" size="6" value="{{ resource.quantity }}" />
							</td>
							<td style="text-align: right; ">
								<input class="price" id="{{ resource.id }}" type="text" size="6" value="{{ resource.price }}" />
							</td>
							<td>
								<form style="display: inline;" action="{% url delete_function_resource id=resource.id %}" method="POST">
									{% csrf_token %}
									<input type="submit" value="Del" />
								</form>
							</td>
						</tr>
						{% else %}
							<tr style="background: #EAF2D3;" >
								<td>&nbsp;</td>
								<td>
									{{ resource.resource_type }}
								</td>
								<td style="text-align: right; ">
									<input class="quantity" id="{{ resource.id }}" type="text" size="6" value="{{ resource.quantity }}" />
								</td>
								<td style="text-align: right; ">
									<input class="price" id="{{ resource.id }}" type="text" size="6" value="{{ resource.price }}" />
								</td>
								<td>
								<form style="display: inline;" action="{% url delete_function_resource id=resource.id %}" method="POST">
									{% csrf_token %}
									<input type="submit" value="Del" />
								</form>
							</td>
							</tr>
						{% endif %}
					{% endfor %}
			{% endif %}
			{% if fun.outputs %}
					{% for resource in fun.outputs %}
						{% if forloop.first %}
						<tr style="background: #EAF2D3;" >
							<th style="vertical-align: top; text-align: right; padding-left: 1em; " >Produces:</th>
							<td>
								{{ resource.resource_type }}
							</td>
							<td>
								<input class="quantity" id="{{ resource.id }}" type="text" size="6" value="{{ resource.quantity }}" />
							</td>
							<td style="text-align: right; ">
								<input class="price" id="{{ resource.id }}" type="text" size="6" value="{{ resource.price }}" />
							</td>
							<td>
								<form style="display: inline;" action="{% url delete_function_resource id=resource.id %}" method="POST">
									{% csrf_token %}
									<input type="submit" value="Del" />
								</form>
							</td>
						</tr>
						{% else %}
							<tr style="background: #EAF2D3;" >
								<td>&nbsp;</td>
								<td>
									{{ resource.resource_type }}
								</td>
								<td style="text-align: right; ">
									<input class="quantity" id="{{ resource.id }}" type="text" size="6" value="{{ resource.quantity }}" />
								</td>
								<td style="text-align: right; ">
									<input class="price" id="{{ resource.id }}" type="text" size="6" value="{{ resource.price }}" />
								</td>
								<td>
								<form style="display: inline;" action="{% url delete_function_resource id=resource.id %}" method="POST">
									{% csrf_token %}
									<input type="submit" value="Del" />
								</form>
							</td>
							</tr>
						{% endif %}
					{% endfor %}
			{% endif %}
			<form action="{% url new_function_resource function_id=fun.id %}" method="POST">{% csrf_token %}
				<tr>
					<td>{{ fun.form.role }}</td>
					<td>
						{{ fun.form.resource_type }}
					</td>		
					<td>
						{{ fun.form.quantity }}
					</td>
					<td>
						{{ fun.form.price }}
					</td>
					<td><input type="submit" name="submit" value="Add" /></td>
				</tr>
			</form>
		{% endfor %}
	</table>
</div>

<div style="float:left; margin-left: 2em; width: 50%;" >
	<table>
		<form action="{% url inline_new_resource cluster_id=cluster.id %}" method="POST">{% csrf_token %}
			<tr>
				<th style="text-align: right;" >New Resource:</th>
				<td>{{ new_resource_form.name }}</td>
				<td><span id="name-comment" style="color:green;" ></span></td>
			</tr>
			{% if resource_aspect_name %}
				<tr>
					<th style="text-align: right;" >{{ resource_aspect_name }}:</th>
					<td>{{ new_resource_form.aspect }}</td>
				</tr>
			{% endif %}
			<tr>
				<th style="text-align: right;" >Unit of qty:</th>
				<td>{{ new_resource_form.unit_of_quantity }}</td>
				<td><input id="submit-new-resource" type="submit" name="submit" value="Add Resource" /></td>
			</tr>
			<input type="hidden" name="next" value="{% url edit_cluster_functions cluster_id=cluster.id %}" />
		</form>
		<br/>
		{% comment %}
		<tr>
			<th style="text-align: center; font-size: 110%; " colspan="3" >Resources used in this Cluster:</th>
		</tr>
		{% for res in resources %}
			<tr><th style="text-align: left; font-size: 110%; " colspan="3" >{{ res }}</th></tr>
			{% if res.my_producers %}
				<tr>
					<th style="vertical-align: top; text-align: right; padding-left: 1em; " >Produced By:</th>
					<td colspan="2" >
					{% for fun in res.my_producers %}
						{{ fun.function.name }}<br />
					{% endfor %}
					</td>
				</tr>
			{% endif %}
			{% if res.my_consumers %}
				<tr>
					<th style="vertical-align: top; text-align: right; padding-left: 1em; " >Consumed By:</th>
					<td colspan="2" >
					{% for fun in res.my_consumers %}
						{{ fun.function.name }}<br />	
					{% endfor %}
					</td>
				</tr>
			{% endif %}
		{% endfor %}
		{% endcomment %}
		
	</table>
	
	<div id="canvas" style="height: 500px;" ></div>
	<button style="margin-left: 8em;" id="redraw" onclick="redraw();">redraw</button>
	{% include "clusters/_network_diagram.html" %}
	{% if not edges %}
		<p>
			A network diagram will appear here as you add Functions and their Resources.
		</p>
	{% endif %}
	
</div>
<div style="clear: both;" ></div>
	
</div>
	
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/site_media/css/jquery.autocomplete.css" type="text/css" />
  <script type="text/javascript" src="/site_media/scripts/jquery.bgiframe.min.js"></script>

  <script type="text/javascript" src="/site_media/scripts/jquery.autocomplete.js"></script>

<script>
	
	$(document).ready(function()
	{
		$("#id_resource-name").blur(getUnit);
	
		$(".quantity").blur(function() 
		{
			var quantity = this.value;
			var intQuantity = parseInt(quantity);
			if ($.isNumeric(quantity))
			{
				if (intQuantity == parseFloat(quantity))
				{
					var id = this.id;
					$.post("{% url change_function_resource_amount %}",  { id: id, quantity: quantity });
				}
				else
				{
					alert(quantity + " must be an integer");
					this.value = intQuantity;
				}
			}
			else
			{
				alert(quantity + " is not a number");
				this.value = intQuantity;
			}
		});
	
		$(".price").blur(function() 
		{
			var quantity = this.value;
			var intQuantity = parseInt(quantity);
			if ($.isNumeric(quantity))
			{
				if (intQuantity == parseFloat(quantity))
				{
					var id = this.id;
					$.post("{% url change_function_resource_price %}",  { id: id, price: quantity });
				}
				else
				{
					alert(quantity + " must be an integer");
					this.value = intQuantity;
				}
			}
			else
			{
				alert(quantity + " is not a number");
				this.value = intQuantity;
			}
		});
	
    var data = "{{ resource_names }}".split(";");
	$("#id_resource-name").autocomplete(data, {matchContains: true});
	
	$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});

function getUnit(event)
{
	//$("#id_resource-unit_of_quantity").attr("value", "");
	$("#id_resource-unit_of_quantity").attr("disabled", false);
	$("#name-comment").html("");
	$("#submit-new-resource").attr("value", "Add Resource");
	
	var name = event.target.value;
	for(i=0;i<data.length;i++)
	{
		if(data[i]==name)
		{
			var jsonUrl = encodeURI("/clusters/jsonresourceunit/" + name + "/");
			$.get(jsonUrl,
				function(data){
					var unit = eval(data)[0].fields.unit_of_quantity;
					$("#id_resource-unit_of_quantity").val(unit);
					$("#id_resource-unit_of_quantity").attr("disabled", true);
					$("#name-comment").html("Existing Resource which you may re-use");
					$("#submit-new-resource").attr("value", "Re-use in this community");
				});
			break;
		}

	}
}
	
	});
</script>



{% endblock %}
