{% extends "base.html" %}

{% load humanize %}

{% block title %}
     Edit Agent {{ agent }}
{% endblock %}

{% block extra_head %}

<style>

body {font-size:90%}
h1 {font-size:2.25em}
h2 {font-size:1.6875em}
p {font-size:0.7875em}
	
</style>

{% endblock %}

{% block content %}

<div class="agents">

{% include "clusters/_cluster_nav.html" %}

<h3>Edit Agent {{ agent }} in Cluster {{ cluster }}</h3>

<div style="float:left;">
<table>
	<tr>
		<th style="text-align: left; font-size: 110%; padding-top: 1em; " colspan="3" ><b>Agent:</b> {{ agent.name }}</th>
	</tr>
	<form action="{% url inline_new_agent_function cluster_id=cluster.id agent_id=agent.id %}" method="POST">{% csrf_token %}
	<tr>
		<th style="text-align: right;" >New Function:</th>
		<td>{{ new_function_form.function }}</td>
		<td><input type="submit" name="submit" value="Add" /></td>
		<td>&nbsp;</td>
	</tr>
	{% if cluster_funs %}	
		{% for fun in cluster_funs %}
			<tr>
				<td style="padding-top: .5em; text-align: left;" colspan="3" > <b>Function:</b> {{ fun.function.name }}</td>

			</tr>

		</form>
			<tr>
				<th>Function Resources:</th>
				<th>Resource</th>
				<th>Quantity</th>
			</tr>
			{% for res in fun.rsrcs %}
				<tr>
					<td style="text-align: right;" >{{ fun.function.name }}</td>
					<td> {{ res.role }} {{ res.resource_type }}</td>
					<td style="text-align: right;" >{{ res.quantity|intcomma }}</td>
				</tr>
				{% for agent_res in res.agent_resource_list %}
					<tr>
						<td>&nbsp;</td>
						<td><b>{{ agent.name }}</b>  {{ agent_res.role }} {{ agent_res.resource_type }} </td>
						<td style="text-align: right;" >
							{{ agent_res.quantity|intcomma }}
						</td>
					</tr>
				{% endfor %}
				<tr>
					<th style="text-align: right;" >{{ agent.name }}</th>
					<form action="{% url inline_agent_resource cluster_id=cluster.id agent_id=agent.id parent_id=res.resource_type.id %}" method="POST">
						{% csrf_token %}
						<td>
							{{ res.agent_resource_form.role }}&nbsp;
							{{ res.agent_resource_form.name }}
						</td>					
						<td>{{ res.agent_resource_form.quantity }}</td>
						<td><input type="submit" name="submit" value="Add" /></td>
					</form>
				</tr>
			{% endfor %}
		{% endfor %}
	{% else %}
		<tr>
			<td>
				To participate in a Cluster, an Agent must perform at least one Cluster Function.
			</td>
		</tr>
	{% endif %}

</table>
</div>
<div style="float:left; margin-left:1em;">	
	<form action="." method="POST">
		{% csrf_token %}
		<table>
			<tr>
				<td>Address:</td>					
				<td>{{ agent_form.address }}</td>
				{{ agent_form.latitude }}
				{{ agent_form.longitude }}
			</tr>
			<tr>
				<td colspan="2"><input type="submit" name="submit_address" value="Change address" /></td>
			</tr>
		</table>
	</form>
	<div id="map_canvas" style="width: 400px; height: 300px;"></div>
</div>
	
<div style="clear:both;"></div>
	
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key={{ map_key }}&sensor=false">
</script>

  <link rel="stylesheet" href="/site_media/css/jquery.autocomplete.css" type="text/css" />
  <script type="text/javascript" src="/site_media/scripts/jquery.bgiframe.min.js"></script>

  <script type="text/javascript" src="/site_media/scripts/jquery.autocomplete.js"></script>


<script>
	
function html_unescape(text) {
    // Unescape a string that was escaped using django.utils.html.escape.
    text = text.replace(/&lt;/g, '<');
    text = text.replace(/&gt;/g, '>');
    text = text.replace(/&quot;/g, '"');
    text = text.replace(/&#39;/g, "'");
    text = text.replace(/&amp;/g, '&');
    return text;
}
	
var resourceNames = html_unescape("{{ resource_names }}").split("~");

var geocoder;
var map;
	
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      center: new google.maps.LatLng({{ map_center }}),
      zoom: {{ zoom_level }},
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  }

  function codeAddress() {
    var address = document.getElementById("id_address").value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
		var loc = results[0].geometry.location;
		var lat = loc.lat()
		var lng = loc.lng();
		$("#id_latitude").val(lat);
		$("#id_longitude").val(lng);
        map.setCenter(loc);
        var marker = new google.maps.Marker({
            map: map,
            position: loc
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
	
$(document).ready(function(){
	initialize();
	codeAddress();
	$("#id_address").blur(codeAddress);
	$(".resource-name").autocomplete(resourceNames, {matchContains: true});
});

 </script>
{% endblock %}
