{% extends "base.html" %}

{% block title %}
     Edit Agent {{ agent }}
{% endblock %}

{% block extra_head %}

<style>

body {font-size:90%}
h1 {font-size:2.25em}
h2 {font-size:1.6875em}
p {font-size:0.7875em}
	
</style>

{% endblock %}

{% block content %}



<h3>Edit Agent {{ agent }} in Cluster {{ cluster }}</h3>

{% include "clusters/_cluster_nav.html" %}
<br />
<table>
	<tr>
		<th style="text-align: left; font-size: 110%; padding-top: 1em; " colspan="3" ><b>Agent:</b> {{ agent.name }}</th>
	</tr>
	<form action="{% url inline_new_agent_function cluster_id=cluster.id agent_id=agent.id %}" method="POST">
	<tr>
		<th style="text-align: right;" >New Function:</th>
		<td>{{ new_function_form.function }}</td>
		<td><input type="submit" name="submit" value="Add" /></td>
		<td>&nbsp;</td>
	</tr>
	{% if agent.cluster_functions %}	
		{% for fun in agent.cluster_functions %}
			<tr>
				<td style="padding-top: .5em; text-align: left;" colspan="3" > <b>Function:</b> {{ fun.function.name }}</td>

			</tr>

		</form>
			<tr>
				<th>Function Resources:</th>
				<th>Resource</th>
				<th>Amount</th>
			</tr>
			{% for res in fun.resources %}
				<tr>
					<td>&nbsp;</td>
					<td> {{ res.role }} {{ res.resource_type }}</td>
					<td style="text-align: right;" >{{ res.amount }}</td>
				</tr>
				{% for agent_res in res.agent_resources %}
					<tr>
						<td>&nbsp;</td>
						<td><b>Agent Resource:</b>  {{ agent_res.role }} {{ agent_res.resource_type }} </td>
						<td style="text-align: right;" >
							{{ agent_res.amount }}
						</td>
					</tr>
				{% endfor %}
				<tr>
					<th>New Agent Resource:</th>
					<td>
						<form>
							{{ agent_res.agent_resource_form }}
						</form>
					</td>
				</tr>
			{% endfor %}
		{% endfor %}
	{% else %}
		<tr>
			<td>
				To participate in a Cluster, an Agent must perform at least one Cluster Function.
			</td>
		</tr>
	{% endif %}

</table>


{% endblock %}
