{% extends "base.html" %}

{% load humanize %}

{% block title %}
     Edit Flows in Cluster: {{ cluster }}
{% endblock %}

{% block extra_head %}

<style>

body {font-size:90%}
h1 {font-size:2.25em}
h2 {font-size:1.6875em}
p {font-size:0.7875em}
	
</style>

{% endblock %}

{% block content %}



<h3>Edit Flows in Cluster: {{ cluster }}</h3>

{% include "clusters/_cluster_nav.html" %}

<div style="float:left;" >
	<table>
		<form action="{% url inline_new_function cluster_id=cluster.id %}" method="POST">{% csrf_token %}
			<tr>
				<th style="text-align: right;" >New Function:</th>
				<td>{{ new_function_form.name }}</td>
				<td><input type="submit" name="submit" value="Add" /></td>
			</tr>
		</form>
	</table>

	<h3>Add or change flows</h3>
	<input type="submit" name="submit_flows" value="Save flow changes" />
	<form method="post" action="">
		<table>
			<thead>
				<th>From Function</th>
				<th>To Function</th>
				<th>Resource</th>
				<th>Amount</th>
			</thead>
			<tbody>
				{{ formset.management_form }}
				{% for form in formset %}
					{{ form.id }}
					<tr>
						<td>{{ form.from_function }}</td>
						<td>{{ form.to_function }}</td>
						<td>{{ form.resource_type }}</td>
						<td>{{ form.amount }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<input type="submit" name="submit_flows" value="Save flow changes" />
	</form>
</div>

<div style="float:left; margin-left: 2em;" >
	<table>
		<form action="{% url inline_new_resource cluster_id=cluster.id %}" method="POST">{% csrf_token %}
			<tr>
				<th style="text-align: right;" >New Resource:</th>
				<td>{{ new_resource_form.name }}</td>
				<td><input type="submit" name="submit" value="Add" /></td>
			</tr>
		</form>
	</table>
</div>
<div style="clear: both;" ></div> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/site_media/css/jquery.autocomplete.css" type="text/css" />
  <script type="text/javascript" src="/site_media/scripts/jquery.bgiframe.min.js"></script>

  <script type="text/javascript" src="/site_media/scripts/jquery.autocomplete.js"></script>


<script>
	$(document).ready(function()
	{
		$(".amount").blur(function() 
		{
			var amount = this.value;
			intAmount = parseInt(amount);
			if ($.isNumeric(amount))
			{
				if (intAmount == parseFloat(amount))
				{
					var id = this.id;
					$.post("{% url change_function_resource_amount %}",  { id: id, amount: amount });
				}
				else
				{
					alert(amount + " must be an integer");
					this.value = intAmount;
				}
			}
			else
			{
				alert(amount + " is not a number");
				this.value = intAmount;
			}
		});
	
    var data = "{{ resource_names }}".split(";");
	$("#id_resource-name").autocomplete(data, {matchContains: true});
	
	$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});

	
	});
</script>



{% endblock %}
