{% extends "base.html" %}

{% load humanize %}

{% block title %}
     Edit Agent {{ agent }}
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}

<div class="agents">

{% include "clusters/_cluster_nav.html" %}

<h3>
	Edit Agent {{ agent }} in Cluster {{ cluster }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{% url network cluster_id=cluster.id toggle='qty' level='agt' %}" target="_blank">See diagram</a>
</h3>

<div style="float:left;">
    <div class="section-div">
    <table>
        {% comment %}
            <tr>
                <th style="text-align: left; font-size: 110%; padding-top: 1em; " colspan="3" ><b>Agent:</b> {{ agent.name }}</th>
            </tr>
        {% endcomment %}
            <form action="{% url inline_new_agent_function cluster_id=cluster.id agent_id=agent.id %}" method="POST">{% csrf_token %}
                <tr>
                    <th style="text-align: left;" class="desc" colspan="2" >
                        To associate an existing function to this agent, start typing and choose from the list.  
                        To create a new function and associate it with this agent, type in a new function name.<br /><br />
                    </th>
                </tr>
                <tr>
                    <th style="text-align: right;" >New Function for this Agent:</th>
                    <td>{{ new_function_form.name }}</td>
                </tr>
                {% if not function_aspect_name %}
                <tr>
                    <td><input id="submit-new-function" type="submit" name="submit" value="Add Agent Function" /></td>
                </tr>
                {% endif %}
                {% if function_aspect_name %}
                    <tr>
                        <th style="text-align: right;" >{{ function_aspect_name }}:</th>
                        <td>{{ new_function_form.aspect }}</td>
                        <td><input id="submit-new-function" type="submit" name="submit" value="Add Agent Function" /></td>
                    </tr>
                {% endif %}
                <tr><td colspan="4"><span id="function-comment" style="color:green;" ></span></td></tr>
                    <td>&nbsp;</td>
                </tr>
            </form>
        </table>
    </div>
    
    {% if cluster_funs %}	
    <table>
		{% for fun in cluster_funs %}
			<tr>
				<td style="padding-top: .5em; text-align: left;" colspan="3" > <b>Function:</b> {{ fun.function.name }}</td>
			</tr>
			<tr>
				<th>Function Resources:</th>
				<th>Resource</th>
				<th>Quantity</th>
				<th>Price</th>
			</tr>
			{% if fun.rsrcs %}
				{% for res in fun.rsrcs %}
					<tr style="color: grey;" >
						{% comment %}
						<td style="text-align: right;" class="block" >{{ fun.function.name }}</td>
						{% endcomment %}
						<td>&nbsp;</td>
						<td  class="block" > {{ res.role }} {{ res.resource_type }}</td>
						<td style="text-align: right;" class="block">{{ res.quantity|intcomma }}</td>
						<td style="text-align: right;" class="block" >{{ res.price }}</td>
					</tr>
					{% for agent_res in res.agent_resource_list %}
						<tr>
							<td style="text-align: right;" >{{ agent.name }} as {{ agent_res.agent_function.function.name }}</td>
							<td>{{ agent_res.role }} {{ agent_res.resource_type }} </td>
							<td style="text-align: right; ">
									<input class="quantity" id="{{ agent_res.id }}" type="text" size="7" value="{{ agent_res.quantity }}" />
								</td>
									<td style="text-align: right; ">
									<input class="price" id="{{ agent_res.id }}" type="text" size="7" value="{{ agent_res.price }}" />
								</td>
								<td>
									<form style="display: inline;" action="{% url delete_agent_function_resource id=agent_res.id %}" method="POST">
										{% csrf_token %}
										<input type="submit" value="Del" />
									</form>
								</td>
						</tr>
					{% endfor %}
					<tr>
						<td style="text-align: right; font-weight:bold;" >{{ agent.name }} as {{ res.function.name }} </td>
						<form action="{% url inline_agent_resource cluster_id=cluster.id agent_id=agent.id parent_id=res.resource_type.id %}" method="POST">
							{% csrf_token %}
							{{ res.agent_resource_form.agent_function_id }}
							<td>
								{{ res.agent_resource_form.role }}&nbsp;
								{{ res.agent_resource_form.name }}
							</td>					
							<td>{{ res.agent_resource_form.quantity }}</td>
							<td>{{ res.agent_resource_form.price }}</td>
							<td><input type="submit" name="submit" value="Add" /></td>
						</form>
					</tr>
				{% endfor %}
				{% if fun.outliers %}
					<tr>
						<th>Other Resources:</th>
						<th>Resource</th>
						<th>Quantity</th>
						<th>Price</th>
					</tr>
					{% for agent_res in fun.outliers %}
						 <tr>
								<td style="text-align: right;" >{{ agent.name }} as {{ agent_res.agent_function.function.name }}</td>
								<td>{{ agent_res.role }} {{ agent_res.resource_type }} </td>
								<td style="text-align: right; ">
									<input class="quantity" id="{{ agent_res.id }}" type="text" size="7" value="{{ agent_res.quantity }}" />
								</td>
								<td style="text-align: right; ">
									<input class="price" id="{{ agent_res.id }}" type="text" size="7" value="{{ agent_res.price }}" />
								</td>
								<td>
									<form style="display: inline;" action="{% url delete_agent_function_resource id=agent_res.id %}" method="POST">
										{% csrf_token %}
										<input type="submit" value="Del" />
									</form>
								</td>
						</tr>
					{% endfor %}
				{% endif %}
			{% else %}
				{% for agent_res in fun.agent_resources %}
					<tr>
							<td style="text-align: right;" >{{ agent.name }} as {{ agent_res.agent_function.function.name }}</td>
							<td>{{ agent_res.role }} {{ agent_res.resource_type }} </td>
							<td style="text-align: right; ">
									<input class="quantity" id="{{ agent_res.id }}" type="text" size="7" value="{{ agent_res.quantity }}" />
							</td>
							<td style="text-align: right; ">
								<input class="price" id="{{ agent_res.id }}" type="text" size="7" value="{{ agent_res.price }}" />
							</td>
							<td>
								<form style="display: inline;" action="{% url delete_agent_function_resource id=agent_res.id %}" method="POST">
									{% csrf_token %}
									<input type="submit" value="Del" />
								</form>
							</td>
					</tr>
				{% endfor %}
				<tr>
					<td style="text-align: right; font-weight:bold;" >{{ agent.name }} as {{ fun.function.name }} </td>
					<form action="{% url inline_agent_resource cluster_id=cluster.id agent_id=agent.id parent_id=0 %}" method="POST">
						{% csrf_token %}
						{{ fun.agent_resource_form.agent_function_id }}
						<td>
							{{ fun.agent_resource_form.role }}&nbsp;
							{{ fun.agent_resource_form.name }}
						</td>					
						<td>{{ fun.agent_resource_form.quantity }}</td>
						<td>{{ fun.agent_resource_form.price }}</td>
						<td><input type="submit" name="submit" value="Add" /></td>
					</form>
				</tr>
			{% endif %}
		{% endfor %}
	{% else %}
		<tr>
			<td>
				To participate in a Cluster, an Agent must perform at least one Cluster Function.
			</td>
		</tr>
	{% endif %}

</table>
</div>

{% comment %}
<div style="float:left; margin-left: 2em; width: 40%;" >
	<div id="canvas" style="margin-left: auto; margin-right: auto; height: 500px;" ></div>
	<button style="margin-left: 8em;" id="redraw" onclick="redraw();">redraw</button>
	{% include "clusters/_network_diagram.html" %}
	{% if not edges %}
		<p>
			A network diagram will appear here as you add Functions and their Resources.
		</p>
	{% endif %}
</div>
{% endcomment %}

<div style="clear:both;"></div>
	
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/site_media/css/jquery.autocomplete.css" type="text/css" />
  <script type="text/javascript" src="/site_media/scripts/jquery.bgiframe.min.js"></script>

  <script type="text/javascript" src="/site_media/scripts/jquery.autocomplete.js"></script>


<script>
	
function html_unescape(text) {
    // Unescape a string that was escaped using django.utils.html.escape.
    text = text.replace(/&lt;/g, '<');
    text = text.replace(/&gt;/g, '>');
    text = text.replace(/&quot;/g, '"');
    text = text.replace(/&#39;/g, "'");
    text = text.replace(/&amp;/g, '&');
    return text;
}
	
var resourceNames = html_unescape("{{ resource_names }}").split("~");
var functionNames = html_unescape("{{ function_names }}").split("~");

	
$(document).ready(function(){
	$(".resource-name").autocomplete(resourceNames, {matchContains: true});
	$("#id_function-name").autocomplete(functionNames, {matchContains: true});
	$("#id_function-name").blur(getFunctionDetails);
	
function getFunctionDetails(event)
{
	$("#id_function-aspect").attr("disabled", false);
	$("#function-comment").html("");
	$("#submit-new-function").attr("value", "Add Function");
	
	var name = event.target.value;
	for(i=0;i<functionNames.length;i++)
	{
		if(functionNames[i]==name)
		{
			var jsonUrl = encodeURI("/clusters/jsonfunctionaspect/" + name + "/" + {{ cluster.id }} + "/");
			$.get(jsonUrl,
				function(data){
					var aspect = eval(data)[0].fields.aspect;
					$("#id_function-aspect").val(aspect);
					$("#id_function-aspect").attr("disabled", true);
					$("#function-comment").html("Existing Function which you may re-use");
					$("#submit-new-function").attr("value", "Re-use for this agent");
				});
			break;
		}

	}
}
	
	$(".quantity").blur(function() 
		{
			var quantity = this.value;
			var intQuantity = parseInt(quantity);
			if ($.isNumeric(quantity))
			{
				if (intQuantity == parseFloat(quantity))
				{
					var id = this.id;
					$.post("{% url change_agent_function_resource_amount %}",  { id: id, quantity: quantity });
				}
				else
				{
					alert(quantity + " must be an integer");
					this.value = intQuantity;
				}
			}
			else
			{
				alert(quantity + " is not a number");
				this.value = intQuantity;
			}
		});
	
		$(".price").blur(function() 
		{
			var quantity = this.value;
			var decimals = "";
			if (quantity.indexOf(".") > -1)
			{
				var qtySplit = quantity.split(".");
				wholeNbrs = qtySplit[0];
				var cut = wholeNbrs.length - 6;
				decimals = qtySplit[1];
				var answer = parseFloat(wholeNbrs.substring(cut) + "." + decimals.slice(0,2));
			}
			else
			{
				var cut = quantity.length - 8;
				var answer = parseInt(quantity.substring(cut))
			}
			
			if ($.isNumeric(quantity))
			{
				
				if (quantity.length<=9 && decimals.length<=2)
				{
					var id = this.id;
					$.post("{% url change_agent_function_resource_price %}",  { id: id, price: quantity });
				}
				else
				{
					alert(quantity + " can only have 8 overall digits with 2 decimal places.");
					this.value = answer;
				}
			}
			else
			{
				alert(quantity + " is not a number");
				this.value = answer;
			}
		});
				
		$(".new-price").blur(function() 
		{
			var quantity = this.value;
			var decimals = "";
			if (quantity.indexOf(".") > -1)
			{
				var qtySplit = quantity.split(".");
				wholeNbrs = qtySplit[0];
				var cut = wholeNbrs.length - 6;
				decimals = qtySplit[1];
				var answer = parseFloat(wholeNbrs.substring(cut) + "." + decimals.slice(0,2));
			}
			else
			{
				var cut = quantity.length - 8;
				var answer = parseInt(quantity.substring(cut))
			}
			
			if ($.isNumeric(quantity))
			{
				
				if (quantity.length>9 && decimals.length>2)
				{
					alert(quantity + " can only have 8 overall digits with 2 decimal places.");
					this.value = answer;
				}
			}
			else
			{
				alert(quantity + " is not a number");
				this.value = answer;
			}
		});
	
	$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
	});
	
});

 </script>
{% endblock %}
