{% extends "base.html" %}

{% load humanize %}

{% block title %}
     Edit Flows in Cluster: {{ cluster }}
{% endblock %}

{% block extra_head %}

<style>

body {font-size:90%}
h1 {font-size:2.25em}
h2 {font-size:1.6875em}
p {font-size:0.7875em}
	
</style>

{% endblock %}

{% block content %}

<div class="functions">

{% include "clusters/_cluster_nav.html" %}

<h3>Edit Flows in Cluster: {{ cluster }}</h3>

<div style="float:left;" >
	<table>
		<form action="{% url inline_new_function cluster_id=cluster.id %}" method="POST">{% csrf_token %}
			<tr>
				<th style="text-align: right;" >New Function:</th>
				<td>{{ new_function_form.name }}</td>
				{% if not function_aspect_name %}
					<td><input type="submit" name="submit" value="Add Function" /></td>
				{% endif %}
			</tr>
			{% if function_aspect_name %}
				<tr>
					<th style="text-align: right;" >{{ function_aspect_name }}:</th>
					<td>{{ new_function_form.aspect }}</td>
				<td><input type="submit" name="submit" value="Add Function" /></td>
				</tr>
			{% endif %}
			<input type="hidden" name="next" value="{% url edit_flows cluster_id=cluster.id %}" />
		</form>
	</table>

	<h3>Add or change flows</h3>
	<input type="submit" name="submit_flows" value="Save flow changes" />
	<form method="post" action="">{% csrf_token %}
		<table>
			<thead>
				<th>From Function</th>
				<th>To Function</th>
				<th>Resource</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Del</th>
			</thead>
			<tbody>
				{{ formset.management_form }}
				{% for form in formset %}
					{{ form.id }}
					<tr>
						<td>{{ form.from_function }}</td>
						<td>{{ form.to_function }}</td>
						<td>{{ form.resource_type }}</td>
						<td>{{ form.quantity }}</td>
						<td>{{ form.price }}</td>
						<td>{{ form.DELETE }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<input type="submit" name="submit_flows" value="Save flow changes" />
	</form>
</div>

<div style="float:left; margin-left: 2em; width: 50%; " >
	<table>
		<form action="{% url inline_new_resource cluster_id=cluster.id %}" method="POST">{% csrf_token %}
			<tr>
				<th style="text-align: right;" >New Resource:</th>
				<td>{{ new_resource_form.name }}</td>
				<td><span id="name-comment" style="color:green;" ></span></td>
			</tr>
			{% if resource_aspect_name %}
				<tr>
					<th style="text-align: right;" >{{ resource_aspect_name }}:</th>
					<td>{{ new_resource_form.aspect }}</td>
				</tr>
			{% endif %}
			<tr>
				<th style="text-align: right;" >Unit of qty:</th>
				<td>{{ new_resource_form.unit_of_quantity }}</td>
				<td><input id="submit-new-resource" type="submit" name="submit" value="Add Resource" /></td>
			</tr>
			<input type="hidden" name="next" value="{% url edit_flows cluster_id=cluster.id %}" />
		</form>
	</table>

<div id="canvas"></div>
<button style="margin-left: 8em;" id="redraw" onclick="redraw();">redraw</button>
{% include "clusters/_flow_diagram.html" %}
	{% if not edges %}
		<p>
			A flow diagram will appear here as you add Flows.
		</p>
	{% endif %}
</div>
	
<div style="clear: both;" ></div> 
	
</div>
	
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/site_media/css/jquery.autocomplete.css" type="text/css" />
  <script type="text/javascript" src="/site_media/scripts/jquery.bgiframe.min.js"></script>

  <script type="text/javascript" src="/site_media/scripts/jquery.autocomplete.js"></script>


<script>
	$(document).ready(function()
	{
		$(".quantity").blur(function() 
		{
			var quantity = this.value;
			intQuantity = parseInt(quantity);
			if ($.isNumeric(quantity))
			{
				if (intQuantity != parseFloat(quantity))
				{
					alert(quantity + " must be an integer");
					this.value = intQuantity;
				}
			}
			else
			{
				alert(quantity + " is not a number");
				this.value = intQuantity;
			}
		});
	
		$(".new-price").blur(function() 
		{
			var quantity = this.value;
			var decimals = "";
			if (quantity.indexOf(".") > -1)
			{
				var qtySplit = quantity.split(".");
				wholeNbrs = qtySplit[0];
				var cut = wholeNbrs.length - 6;
				decimals = qtySplit[1];
				var answer = parseFloat(wholeNbrs.substring(cut) + "." + decimals.slice(0,2));
			}
			else
			{
				var cut = quantity.length - 8;
				var answer = parseInt(quantity.substring(cut))
			}
			
			if ($.isNumeric(quantity))
			{
				
				if (quantity.length>9 && decimals.length>2)
				{
					alert(quantity + " can only have 8 overall digits with 2 decimal places.");
					this.value = answer;
				}
			}
			else
			{
				alert(quantity + " is not a number");
				this.value = answer;
			}
		});
	
    var resourceNames = "{{ resource_names }}".split(";");
	$("#id_resource-name").autocomplete(resourceNames, {matchContains: true});
	$("#id_resource-name").blur(getResourceDetails);
	
function getResourceDetails(event)
{
	$("#id_resource-unit_of_quantity").attr("disabled", false);
	$("#id_resource-aspect").attr("disabled", false);
	$("#name-comment").html("");
	$("#submit-new-resource").attr("value", "Add Resource");
	
	var name = event.target.value;
	for(i=0;i<resourceNames.length;i++)
	{
		if(resourceNames[i]==name)
		{
			var jsonUrl = encodeURI("/clusters/jsonresourceunit/" + name + "/");
			$.get(jsonUrl,
				function(data){
					var unit = eval(data)[0].fields.unit_of_quantity;
					$("#id_resource-unit_of_quantity").val(unit);
					$("#id_resource-unit_of_quantity").attr("disabled", true);
					$("#name-comment").html("Existing Resource which you may re-use");
					$("#submit-new-resource").attr("value", "Re-use in this community");
				});
			var jsonUrl = encodeURI("/clusters/jsonresourceaspect/" + name + "/" + {{ cluster.community.id }} + "/");
			$.get(jsonUrl,
				function(data){
					if(data.length > 0)
					{
						var aspect = eval(data)[0].fields.aspect;
						if (aspect.length > 0)
						{
							$("#id_resource-aspect").val(aspect);
							$("#id_resource-aspect").attr("disabled", true);
						}
					}
				});
			break;
		}

	}
}
	
	$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});

	
	});
</script>



{% endblock %}
