{% extends "base.html" %}

{% block title %}
     Local Economic Development
{% endblock %}

{% block header %}

<style>
	
html, body {
    margin:0;
    padding-left: 2em;
    font-size: 0.9em;
    text-align: center;
    background-color:#F2F2F2;
}

input, select {
    font-size:0.9em;
}


h4 {
    font-size:1.1em;
    text-decoration:none;
    font-weight:normal;
    color:#23A4FF;
}

a {
    color:#23A4FF;
}

#container {
    width: 650px;
    height: 450px;
    margin:0 auto;
    position:relative;
}

#left-container, 
#right-container, 
#center-container {
    height:450px;
    position:absolute;
    top:0;
}

#left-container, #right-container {
    color:#686c70;
    text-align: left;
    overflow: auto;
    background-color:#fff;
    background-repeat:no-repeat;
    border-bottom:1px solid #ddd;
}

#left-container {
    width:110px;
    left:0;
    background-image:url('col2.png');
    background-position:center right;
    border-left:1px solid #ddd;
    
}

#right-container {
    width:140px;
    right:0;
    background-image:url('col1.png');
    background-position:center left;
    border-right:1px solid #ddd;

}

#right-container h4{
    text-indent:8px;
}

#center-container {
    width:400px;
    left:110px;
    background-color: #FFFFCC;
    color: #CC99FF;
}

.text {
    margin: 7px;
}

#inner-details {
    font-size:0.8em;
    list-style:none;
    margin:7px;
}

#log {
    position:absolute;
    top:10px;
    font-size:1.0em;
    font-weight:bold;
    color:#23A4FF;

}


#infovis {
    position:relative;
    width:400px;
    height:450px;
    margin:auto;
    overflow:hidden;
}

</style>
	
	
{% endblock %}

{% block content %}

<script>
var Log = {
    elem: false,
    write: function(text){
        if (!this.elem) 
            this.elem = document.getElementById('log');
        this.elem.innerHTML = text;
        this.elem.style.left = (400 - this.elem.offsetWidth / 2) + 'px';
    }
};
</script>

<div style="float: right; width: 10%;">
	{% if user.is_authenticated %}
		<a href="/admin">Admin</a><br />
		<a href="{% url about %}">About</a><br />
		<a href="{% url clusters %}">All Clusters</a>
	{% else %}
		<a href="/admin">Log in</a><br />
		<a href="{% url about %}">About</a><br />
		<a href="{% url clusters %}">All Clusters</a>
	{% endif %}
</div>

<div style: float: left; width: 90%;" >
	<h2>Local Economic Development</h2>
	<h3>Communities, Clusters, Networks and Resources: Analysis, Planning, Formation, Administration and Accounting</h3>
</div>
<div style="clear: both;" ></div>

<p style="font-size: 1em;">
	This site is now in collaborative development with invited communities.  
	If you would like to participate, please <a href="{% url send_email %}" target="_blank">send us an email</a>.
</p>
<h3>Featured Cluster: {{ cluster }}</h3>
	
<div style=float:left; width: 48%;" >
	<img src="/site_media/images/network.png" width="500px" height="450px" />
</div>
<div style=float:left; width: 50%;>
{% include "clusters/_cluster.html" %}
</div>
<div style="clear: both;" ></div>

{% endblock %} 