{% extends "base.html" %}

{% block title %}
     Local Economic Development
{% endblock %}

{% block header %}

<style>
	
html, body {
    margin:0;
    padding-left: 2em;
    background-color:#F5F5F5;
}

/*
input, select {
    font-size:0.9em;
}

h4 {
    font-size:1.1em;
    text-decoration:none;
    font-weight:normal;
    color:#23A4FF;
}

a {
    color:#23A4FF;
}
*/
	
#container {
    width: 450px;
    height: 550px;
    margin:0 auto;
    position:relative;
}

#left-container, 
#right-container, 
#center-container {
    height:500px;
    position:absolute;
    top:0;
}

#left-container, #right-container {
    color:#686c70;
    text-align: left;
    overflow: auto;
    background-color:#fff;
    background-repeat:no-repeat;
    border-bottom:1px solid #ddd;
}

#left-container {
    width:0px;
    left:0;
    border-left:1px solid #ddd;
    
}

#right-container {
    width:0px;
    right:0;
    border-right:1px solid #ddd;

}
/*
#right-container h4{
    text-indent:8px;
}
*/
	
#center-container {
    width:450px;
    left:0px;
    background-color: #FFFFCC;
    color: #CC99FF;
}

.text {
    margin: 7px;
}

/*
#inner-details {
    font-size:0.8em;
    list-style:none;
    margin:7px;
}

#log {
    position:absolute;
    top:10px;
    font-size:1.0em;
    font-weight:bold;
    color:#23A4FF;

}
*/

#infovis {
    position:relative;
    width:450px;
    height:550px;
    margin:auto;
    overflow:hidden;
}

#chart {
  height: 560px;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}

/*LF from here*/
#header {
	text-align: left;
	margin: 0;
	padding: 0;
}
#header h2 {
	font-size: 3em;
	margin: 0;
	padding: 0;
}
#header h3 {
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}
.loceconLetters {
	color: black;
}
.otherLetters {
	color: #858585;
}
#firstSubtitle {
	color: #660099;
}
#arrow {
	color: #660099;
	font-size: 120%;
}
#arrow2 {
	color: #cc0000;
	font-size: 120%;
}
#more {
	color: #cc0000;
}
#secondSubtitle {
	color: #29A329;
	margin-bottom: .2em;
}
#rightLinks {
	margin: 2px 70px 0 0;
	font-size: .8em;
}
#rightLinks ul {
	list-style-type: none;
	padding:0;
}
#rightLinks a:link,a:visited {
    display:block;
    font-weight:bold;
    text-align: left;
    padding:4px 10px 4px 10px;
    border-bottom: solid 2px #F5F5F5;
    text-decoration:none;
}
#rightLinks a:hover,a:active {
    background-color: black;
    color: white;
}
.hiliteLink { 
    background-color: #ffcc00;
    color: #a60000;
}
.regularLink { 
    background-color: #858585;
    color:#FFFFFF;
}
	
</style>
	
	
{% endblock %}

{% block content %}

<script>

var Log = {
    elem: false,
    write: function(text){
	/*
        if (!this.elem) 
            this.elem = document.getElementById('log');
        this.elem.innerHTML = text;
        this.elem.style.left = (200 - this.elem.offsetWidth / 2) + 'px';
	*/
    }
};

</script>

<div id="rightLinks" style="float: right; width: 130px;">
	<ul>
	{% if user.is_authenticated %}
		<li>{{ user }} <a class="regularLink" href="{% url acct_logout %}">Logout</a></li>
		<li><a class="regularLink" href="/help/">Help</a></li>
		{% if user.is_staff %}
			<li><a class="regularLink" href="/admin">Admin</a></li>
		{% endif %}
		<li><a class="regularLink" href="/about/">About</a></li>
		<li><a class="hiliteLink" href="{% url clusters %}">View All Clusters</a></li>
	{% else %}
		<li><a class="regularLink" href="{% url acct_login %}">Log in</a></li>
		<li><a class="regularLink" href="/about/">About</a></li>
		<li><a class="hiliteLink" href="{% url clusters %}">View All Clusters</a></li>
	{% endif %}
	</ul>
</div>

<div id="header" style: "float: left; margin-bottom: 0;" >
	<h2><span class="loceconLetters">Loc</span><span class="otherLetters">al </span><span class="loceconLetters">Econ</span><span class="otherLetters">omic Development</span></h2>
	<h3 id="firstSubtitle">Communities, Clusters, Networks and Resources</h3>
	<h3 id="secondSubtitle"><span id="arrow">&#8627;</span> Resource Maps, Network Flows, 
		<span id="arrow2">&#8594;</span><span id="more">As-is vs 2B, Gaps, Opportunities</span></h3>
	<p style="font-size: .9em; width: 90%; margin-top: 1em; text-align: left;">
	This site is now in collaborative development with invited communities.  
	If you would like to participate, please <a href="/sendemail/" target="_blank">send us an email</a>.
</p>
	
<h3 style="font-size: 1em;" >Featured Cluster: {{ cluster }}</h3>
	
<div id="chart" style="float:left; width: 60%;" >

</div>

<div style=float:left; width: 35%;>
{% include "clusters/_cluster.html" %}
</div>
<div style="clear: both;" ><p>&nbsp;</p></div>

<script>
	var margin = {top: 0, right: 0, bottom: 6, left: 0},
    width = 660 - margin.left - margin.right,
    height = 560 - margin.top - margin.bottom;
</script>

{% include "clusters/_sankey.html" %}

{% endblock %} 