{% extends "base.html" %}

{% block title %}
     Flow Diagram: {{ cluster }}
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}

<div class="flows">

{% include "clusters/_cluster_nav.html" %}

<div>
	<span style="font-size: 130%;">Flow Diagram: {{ cluster }}</span>
	<span style="margin-left: 3em; font-size: 90%;">
		Looks ugly? Click <button id="redraw" onclick="redraw();">redraw</button> or move things around by hand.
	</span>
</div>

<div id="canvas"></div>


{% include "clusters/_flow_diagram.html" %}
	
</div>
 
{% endblock %}
