{% extends "base.html" %}

{% block title %}
     Flow Diagram: {{ cluster }}
{% endblock %}

{% block extra_head %}

{% endblock %}

{% block content %}

<div class="diagrams">
<div style="margin: 8px 0 0 0; padding: 0 0 0;"></div>
{% include "clusters/_cluster_nav.html" %}

<div>
	<span style="font-size: 130%;">Flow Diagram: {{ cluster }}</span>
	<span style="margin-left: 3em; font-size: 90%;">
		<button id="redraw" onclick="redraw();">redraw</button>
		&nbsp;&nbsp;&nbsp;Show: 
		<form style="display: inline; margin: 0; padding: 0;" id="toggleForm" action="." method="POST">{% csrf_token %}
			{{ toggle_form.toggle }}
		</form>
		{% if level_form %}
		&nbsp;&nbsp;&nbsp;
		<form style="display: inline; margin: 0; padding: 0;" id="levelForm" action="." method="POST">{% csrf_token %}
			{{ level_form.level }}
		</form>
		{% endif %}
	</span>
</div>

<div id="canvas"></div>


{% include "clusters/_flow_diagram.html" %}
	
</div>
 
{% endblock %}
