{% extends "base.html" %}

{% block title %}
     Function-Resource Table for {{ cluster }}
{% endblock %}


{% block content %}

	<h3>Function-Resource Table for {{ cluster }}</h3>

	{% include "clusters/_cluster_nav.html" %}

	<p><i>Positive numbers = production, negative numbers = consumption</i></p>
	{% if cluster.number_description %}
		<p>{{ cluster.number_description|urlize|linebreaks }}</p>
	{% endif %}
	<table class="ga-event-table" >
		<tr>
			<th>Function\Resource</th>
			{% for column in frtable.columns %}
				<th>{{ column }}</th>
			{% endfor %}
		</tr>
		{% for row in frtable.rows %}
			<tr>
				{% for cell in row %}
					{% if forloop.first %}
						<th style="text-align: left;" >{{ cell }}</th>
					{% else %}
						<td style="text-align: right;" >{{ cell }}</td>
					{% endif %}
				{% endfor %}			
			</tr>
		{% endfor %}

	</table>
 
{% endblock %} 