{% extends "base.html" %}

{% block title %}
     Function-Resource Table for {{ cluster }}
{% endblock %}


{% block content %}

	<h3>Function-Resource Table for {{ cluster }}</h3>

	<table class="ga-event-table" >
		<tr>
			<th>Function\Resource</th>
			{% for column in frtable.columns %}
				<th>{{ column }}</th>
			{% endfor %}
		</tr>
		{% for row in frtable.rows %}
			<tr>
				{% for cell in row %}
					{% if forloop.first %}
						<th style="text-align: left;" >{{ cell }}</th>
					{% else %}
						<td>{{ cell }}</td>
						{% comment %}
						{% if cell %}
							<td>{{ cell }}</td>
						{% else %}
							<td>&nbsp;</td>
						{% endif %}
						{% endcomment %}
					{% endif %}
				{% endfor %}			
			</tr>
		{% endfor %}

	</table>
 
{% endblock %} 