{% extends "base.html" %}

{% load humanize %}

{% block title %}
     Function-Resource Table for {{ cluster }}
{% endblock %}


{% block content %}

<div class="frt">

{% include "clusters/_cluster_nav.html" %}

<div>
	<span style="font-size: 130%;">Function-Resource Table {{ cluster }}</span>
	<span style="margin-left: 3em; font-size: 90%; font-strength: bold; ">
		Show: 
		<form style="display: inline; margin: 0; padding: 0;" id="toggleForm" action="." method="POST">{% csrf_token %}
			{{ toggle_form.toggle }}
		</form>
	</span>
</div>


	<p><i>Positive numbers = production, negative numbers = consumption</i></p>
	{% if cluster.number_description %}
		<p>{{ cluster.number_description|urlize|linebreaks }}</p>
	{% endif %}
	<table class="ga-event-table" >
		<tr>
			<th>Function\Resource</th>
			{% for column in frtable.columns %}
				<th>{{ column }}</th>
			{% endfor %}
		</tr>
		{% for row in frtable.rows %}
			<tr>
				{% for cell in row %}
					{% if forloop.first %}
						<th style="text-align: left;" >{{ cell }}</th>
					{% else %}
						<td style="text-align: right;" >{{ cell|intcomma }}</td>
					{% endif %}
				{% endfor %}			
			</tr>
		{% endfor %}

	</table>
 
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script type="text/javascript">

$(document).ready(function() {
	
	$(".tog").change(function() 
	{
		//$("#toggleForm").submit();
		this.form.submit();
	});

});
	
</script>

{% endblock %} 