{% extends "base.html" %}

{% load humanize %}

{% block title %}
     Model Diagnostics for Cluster: {{ cluster }}
{% endblock %}

{% block extra_head %}

<style>

body {font-size:90%}
h1 {font-size:2.25em}
h2 {font-size:1.6875em}
p {font-size:0.7875em}
	
</style>

{% endblock %}

{% block content %}

<div class="reports">

<h3>Model Diagnostics for Cluster: {{ cluster }}</h3>


{% include "clusters/_cluster_nav.html" %}
	
{% if cycles %}
	<h3>Cycles:</h3>
	
	{% for cycle in cycles %}
	<ul>
		{% for node in cycle %}
		<li>{{ node.name }}</li>
		{% endfor %}
	</ul>
	{% endfor %}
	
{% endif %}

{% if disjoints %}
	<h3>Disconnected functions:</h3>
	<p>
		Either these functions do not belong in this cluster, or they lack connections to other cluster functions through resources.
	</p>
	<ul>
		{% for dis in disjoints %}
			{% if dis.resources.all %}
				<li>{{ dis.name }} <i>This function will break the cluster diagram</i></li>
			{% else %}
				<li>{{ dis.name }} <i>This function will not appear in the cluster diagram</i></li>
			{% endif %}
		{% endfor %}
	</ul>
{% endif %}

{% if missing_function_numbers %}
	<h3>Function resources with zero quantities:</h3>
	<ul>
		{% for miss in missing_function_numbers %}
			<li>{{ miss }}</li>
		{% endfor %}
	</ul>
{% endif %}

{% if missing_agent_numbers %}
	<h3>Agent resources with zero quantities:</h3>
	<ul>
		{% for miss in missing_agent_numbers %}
			<li>{{ miss }}</li>
		{% endfor %}
	</ul>
{% endif %}

{% if function_agent_diffs %}
	<h3>Differences between Function and Agent Quantities:</h3>
	<table>
		{% for diff in function_agent_diffs %}
			{% if "agent_total_qty" in diff %}
			<tr>
				<th  style="text-align: right; " >{{ diff.function_resource }} Quantity:</th>
				<td style="text-align: right; " >{{ diff.function_quantity|intcomma }}</td>
				<th  style="text-align: right; " >Agent Total:</th>
				<td style="text-align: right; " >{{ diff.agent_total_qty|intcomma }}</td>
			</tr>
			{% else %}
			<tr>
				<th  style="text-align: right; " >{{ diff.function_resource }} Value:</th>
				<td style="text-align: right; " >{{ diff.function_value|intcomma }}</td>
				<th  style="text-align: right; " >Agent Total:</th>
				<td style="text-align: right; " >{{ diff.agent_total_val|intcomma }}</td>
			</tr>
			{% endif %}
		{% endfor %}
	</table>
{% endif %}
</div>
{% endblock %}

