{% extends "base.html" %}

{% block title %}
     Network Diagram: {{ cluster }}
{% endblock %}

{% block extra_head %}
<style>
	ul
	{
		list-style-type: none;
		display: inline;
	    margin: 0;
		padding: 0;
	}
	li
	{
		display: inline;
	    margin: 0;
		padding: 0;
	}
</style>

{% endblock %}

{% block content %}

<div class="network">

{% include "clusters/_cluster_nav.html" %}

<div>
	<span style="font-size: 130%;">Network Diagram: {{ cluster }}</span>
	<span style="margin-left: 3em; font-size: 90%; font-strength: bold; ">
		<button id="redraw" onclick="redraw();">redraw</button>
		&nbsp;&nbsp;&nbsp;Show: 
		<form style="display: inline; margin: 0; padding: 0;" id="toggleForm" action="." method="POST">{% csrf_token %}
			{{ toggle_form.toggle }}
		</form>
		<form style="display: inline; margin: 0; padding: 0;" id="levelForm" action="." method="POST">{% csrf_token %}
			{{ level_form.level }}
		</form>
	</span>
</div>
<div id="canvas"></div>


{% include "clusters/_network_diagram.html" %}
	
</div>
 
{% endblock %}
