{% extends "base.html" %}

{% block title %}
     Network Diagram: {{ cluster }}
{% endblock %}

{% block header %}

<style type="text/css" media="screen">
	#holder 
	{
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border: solid 1px #333;
	}
	p
	{
		text-align: center;
	}
</style>

{% endblock %}

{% block content %}



<h3>Network Diagram: {{ cluster }}</h3>
{% include "clusters/_cluster_nav.html" %}
<div id="canvas"></div>
<button id="redraw" onclick="redraw();">redraw</button>
{% include "clusters/_network_diagram.html" %}
 
{% endblock %}
