{% extends "base.html" %}

{% block title %}
     New Economic Function for {{ cluster }}
{% endblock %}


{% block content %}

	<h3>New Economic Function for {{ cluster }}</h3>

	<form action="" method="POST">
		<table>
			{{ function_form }}
		</table>
	</form>

	<form method="POST" action="">
		{{ resource_formset.management_form }}
		<table class="ga-event-table" >
			<tr>
				<th>Resource</th>
				<th>Role</th>
				<th>Amount</th>
			</tr>
			{% for resource_form in resource_formset.forms %}
				<td> {{ resource_form.resource_type }} </td>
				<td> {{ resource_form.role }} </td>
				<td> {{ resource_form.amount }} </td>
		</table>
	</form>


<script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script> 
{% endblock %}