{% extends "base.html" %}

{% block title %}
     New Economic Function for {{ cluster }}
{% endblock %}


{% block content %}

	<h3>New Economic Function for {{ cluster }}</h3>

	<form action="." method="POST">
		<table>
			{{ function_form }}
		</table>

		<h3>Resources:</h3>
		
		{{ resource_formset.management_form }}
		<table class="ga-event-table" >
			<tr>
				<th>Resource (select from Community, Any or add new)</th>
				<th>Role</th>
				<th>Amount</th>
			</tr>
			{% for resource_form in resource_formset.forms %}
				<tr>
					<td style="white-space: nowrap" > {{ resource_form.resource_type }}</td>
					<td> {{ resource_form.role }} </td>
					<td> {{ resource_form.amount }} </td>
				</tr>
			{% endfor %}
		</table>
		
		<h3>Agents:</h3>
		
		{{ agent_formset.management_form }}		
		<table class="ga-event-table" >
			{% for agent_form in agent_formset.forms %}
				<tr>
					<td> {{ agent_form.agent }}add new</td>
				</tr>
			{% endfor %}
		</table>
	</form>


<script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script> 
{% endblock %}