{% extends "base.html" %}

{% block title %}
     New Agent for Cluster {{ cluster }}
{% endblock %}

{% block extra_head %}


<style>

body {font-size:90%}
h1 {font-size:2.25em}
h2 {font-size:1.6875em}
p {font-size:0.7875em}
	
</style>

{% endblock %}

{% block content %}

<div class="agents">

{% include "clusters/_cluster_nav.html" %}
	
<h3>New Agent for Cluster {{ cluster }}</h3>

	<form action="." method="POST" >{% csrf_token %}
		<table style="padding-top: 1em;" >
			<tr>
				<th style="text-align: right; " >Name:</th>
				<td>{{ form.name }} <span id="name-comment" style="color:green;" ></span></td>
			</tr>
			<tr>
				<th style="text-align: right; " >Address:</th>
				<td>{{ form.address }}</td>
				{{ form.latitude }}
				{{ form.longitude }}
			</tr>
			{% if area_name %}
			<tr>
				<th>{{ area_name }}:</th>					
				<td>{{ form.geographic_area }}</td>
				{{ form.region_latitude }}
				{{ form.region_longitude }}
			</tr>
			{% endif %}
			<tr>
				<th>Group:</th>					
				<td>{{ form.group }}</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<th style="text-align: left; font-style: italic; " >
					Group is an optional field that can be used to combine Agents on diagrams and reports. 
					If you use it, Agents without a value in the Group field will not be included when you select groups.
				</th>
			</tr>
		</table>
		<input id="submit" type="submit" value="Submit" />
	</form>
	
	<div style="float: left;" >
		<h4>Address Map:</h4>
		<div id="map_canvas" style="width: 400px; height: 300px;"></div>
	</div>
	
	{% if area_name %}
		<div style="float: left; margin-left: 1em;" >
			<h4>{{ area_name }} Map:</h4>
			<div id="area_map_canvas" style="width: 400px; height: 300px;"></div>
		</div>
	{% endif %}
	
	<div style="clear:both;"></div>
	
</div>

<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key={{ map_key }}&sensor=false">
</script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/site_media/css/jquery.autocomplete.css" type="text/css" />
  <script type="text/javascript" src="/site_media/scripts/jquery.bgiframe.min.js"></script>

  <script type="text/javascript" src="/site_media/scripts/jquery.autocomplete.js"></script>


<script>
	
function html_unescape(text) {
    // Unescape a string that was escaped using django.utils.html.escape.
    text = text.replace(/&lt;/g, '<');
    text = text.replace(/&gt;/g, '>');
    text = text.replace(/&quot;/g, '"');
    text = text.replace(/&#39;/g, "'");
    text = text.replace(/&amp;/g, '&');
    return text;
}
	
var agentNames = html_unescape("{{ agent_names }}").split("~");
	
var geocoder;
var map;
var marker = new google.maps.Marker({});
	
var area_map;
var area_marker = new google.maps.Marker({});
	
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var myOptions = {
      center: new google.maps.LatLng({{ map_center }}),
      zoom: {{ zoom_level }},
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
	
	{% if area_name %}
		var myOptions = {
	      center: new google.maps.LatLng({{ map_center }}),
		  zoom: {{ zoom_level }},
		  mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		area_map = new google.maps.Map(document.getElementById("area_map_canvas"), myOptions);
	{% endif %}
	
  }

  function codeAddress() {
    var address = document.getElementById("id_address").value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
		var loc = results[0].geometry.location;
		var lat = loc.lat()
		var lng = loc.lng();
		$("#id_latitude").val(lat);
		$("#id_longitude").val(lng);
        map.setCenter(loc);
        marker.setOptions({
            map: map,
            position: loc
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }

  function codeArea() {
    var address = document.getElementById("id_geographic_area").value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
		var loc = results[0].geometry.location;
		var lat = loc.lat()
		var lng = loc.lng();
		$("#id_region_latitude").val(lat);
		$("#id_region_longitude").val(lng);
        area_map.setCenter(loc);
        area_marker.setOptions({
            map: area_map,
            position: loc
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }	

$(document).ready(function(){
	initialize();
	$("#id_name").blur(getAddress);
	$("#id_address").blur(codeAddress);
	$("#id_name").autocomplete(agentNames, {matchContains: true});
	{% if area_name %}
		$("#id_geographic_area").blur(codeArea);
	{% endif %}
});
	

function getAddress(event)
{
	$("#id_address").attr("value", "");
	$("#id_address").attr("disabled", false);
	$("#name-comment").html("");
	$("#submit").attr("value", "Submit");
	
	var name = event.target.value;
	for(i=0;i<agentNames.length;i++)
	{
		if(agentNames[i]==name)
		{
			var jsonUrl = encodeURI("/clusters/jsonagentaddress/" + name + "/");
			$.get(jsonUrl,
				function(data){
					var address = eval(data)[0].fields.address;
					$("#id_address").attr("value", address);
					$("#id_address").attr("disabled", true);
					$("#name-comment").html("Existing Agent which you may re-use");
					$("#submit").attr("value", "Re-use in this community");
					codeAddress();
				});
			break;
		}

	}
}
	
 </script>


{% endblock %}
