{% extends "base.html" %}

{% block title %}
     New Agent for Cluster {{ cluster }}
{% endblock %}

{% block extra_head %}


<style>

body {font-size:90%}
h1 {font-size:2.25em}
h2 {font-size:1.6875em}
p {font-size:0.7875em}
	
</style>

{% endblock %}

{% block content %}



<h3>New Agent for Cluster {{ cluster }}</h3>

{% include "clusters/_cluster_nav.html" %}

	<form action="." method="POST" >{% csrf_token %}
		<table style="padding-top: 1em;" >
			<tr>
				<th style="text-align: right; " >Name:</th>
				<td>{{ form.name }} <span id="name-comment" style="color:green;" ></span></td>
			</tr>
			<tr>
				<th style="text-align: right; " >Address:</th>
				<td>{{ form.address }}</td>
			</tr>
		</table>
		<input id="submit" type="submit" value="Submit" />
	</form>
<div id="map_canvas" style="width: 320px; height: 480px;"></div>

<script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key={{ map_key }}&sensor=false">
</script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <link rel="stylesheet" href="/site_media/css/jquery.autocomplete.css" type="text/css" />
  <script type="text/javascript" src="/site_media/scripts/jquery.bgiframe.min.js"></script>

  <script type="text/javascript" src="/site_media/scripts/jquery.autocomplete.js"></script>


<script>
	
function html_unescape(text) {
    // Unescape a string that was escaped using django.utils.html.escape.
    text = text.replace(/&lt;/g, '<');
    text = text.replace(/&gt;/g, '>');
    text = text.replace(/&quot;/g, '"');
    text = text.replace(/&#39;/g, "'");
    text = text.replace(/&amp;/g, '&');
    return text;
}
	
var agentNames = html_unescape("{{ agent_names }}").split("~");
	
var geocoder;
var map;
	
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      center: new google.maps.LatLng({{ map_center }}),
      zoom: {{ zoom_level }},
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  }

  function codeAddress() {
    var address = document.getElementById("id_address").value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }

$(document).ready(function(){
	initialize();
	$("#id_name").blur(getAddress);
	$("#id_address").blur(codeAddress);
	$("#id_name").autocomplete(agentNames, {matchContains: true});
});
	

function getAddress(event)
{
	$("#id_address").attr("value", "");
	$("#id_address").attr("disabled", "");
	$("#name-comment").html("");
	$("#submit").attr("value", "Submit");
	
	var name = event.target.value;
	for(i=0;i<agentNames.length;i++)
	{
		if(agentNames[i]==name)
		{
			var jsonUrl = encodeURI("/clusters/jsonagentaddress/" + name + "/");
			$.get(jsonUrl,
				function(data){
					var address = eval(data)[0].fields.address;
					$("#id_address").attr("value", address);
					$("#id_address").attr("disabled", "disabled");
					$("#name-comment").html("Existing Agent which you may re-use");
					$("#submit").attr("value", "Select");
					codeAddress();
				});
			break;
		}

	}
}
	
 </script>


{% endblock %}
