{% extends "base.html" %}

{% block title %}
     New Agent for Cluster {{ cluster }}
{% endblock %}

{% block extra_head %}

<style>

body {font-size:90%}
h1 {font-size:2.25em}
h2 {font-size:1.6875em}
p {font-size:0.7875em}
	
</style>

{% endblock %}

{% block content %}



<h3>New Agent for Cluster {{ cluster }}</h3>

{% include "clusters/_cluster_nav.html" %}
<br />
	<form action="." method="POST" >
		<table>
			<tr>
				<th style="text-align: right; " >Name:</th>
				<td>{{ form.name }} <span id="name-comment"></span></td>
			</tr>
			<tr>
				<th style="text-align: right; " >Address:</th>
				<td>{{ form.address }}</td>
			</tr>
			{{ form }}
		</table>
		<input type="submit" value="Submit" />
	</form>

<script src="http://www.google.com/jsapi"></script>
<script>
	
	google.load("jquery", "1.3.2");
</script>
  <link rel="stylesheet" href="/site_media/css/jquery.autocomplete.css" type="text/css" />
  <script type="text/javascript" src="/site_media/scripts/jquery.bgiframe.min.js"></script>

  <script type="text/javascript" src="/site_media/scripts/jquery.autocomplete.js"></script>


<script>
	
function html_unescape(text) {
    // Unescape a string that was escaped using django.utils.html.escape.
    text = text.replace(/&lt;/g, '<');
    text = text.replace(/&gt;/g, '>');
    text = text.replace(/&quot;/g, '"');
    text = text.replace(/&#39;/g, "'");
    text = text.replace(/&amp;/g, '&');
    return text;
}
	
var agentNames = html_unescape("{{ agent_names }}").split("~");

$(document).ready(function(){
	$("#id_name").blur(getAddress);
	$("#id_name").autocomplete(agentNames, {matchContains: true});
});
	

function getAddress(event)
{
	$("#name-comment").html("");
	var name = event.target.value;
	for(i=0;i<agentNames.length;i++)
	{
		if(agentNames[i]==name)
		{
			var jsonUrl = encodeURI("/clusters/jsonagentaddress/" + name + "/");
			$.get(jsonUrl,
				function(data){
					var address = eval(data)[0].fields.address;
					$("#id_address").attr("value", address);
					$("#name-comment").html("Existing Agent which you may re-use");
				});
			break;
		}

	}
}
	
 </script>


{% endblock %}
