{% extends "base.html" %}

{% block title %}
     Radial Graph: {{ cluster }}
{% endblock %}

{% block header %}

<link type="text/css" href="/site_media/css/base.css" rel="stylesheet" />

{% endblock %}

{% block content %}

<script>
var Log = {
    elem: false,
    write: function(text){
        if (!this.elem) 
            this.elem = document.getElementById('log');
        this.elem.innerHTML = text;
        this.elem.style.left = (500 - this.elem.offsetWidth / 2) + 'px';
    }
};
</script>

<div class="radial">

{% include "clusters/_cluster_nav.html" %}

<h3>Radial Graph of {{ cluster }}</h3>

<br />
{% include "clusters/_cluster.html" %}

</div>
{% endblock %}
