{% extends "base.html" %}

{% block title %}
     Reports for {{ cluster }}
{% endblock %}

{% block extra_head %}
<style>

</style>

{% endblock %}

{% block content %}

<div class="reports">

{% include "clusters/_cluster_nav.html" %}
	
	{% if cluster.has_function_resources %}
			<p class="bigger"><a href="{% url fr_table cluster_id=cluster.id %}">Function-Resource Table</a></p>
	{% endif %}
	<p class="bigger"><a href="{% url diagnostics cluster_id=cluster.id %}">Economic Gaps</a></p>
	<p class="bigger"><a href="{% url model_errors cluster_id=cluster.id %}">Model Diagnostics</a></p>
	<p class="bigger"><a href="{% url agentreport %}">All Agents</a></p>
	<p class="bigger"><a href="{% url agentfunctionreport cluster_id=cluster.id %}">Agent Functions</a></p>
	{% if cluster.has_flows %}
		<p class="bigger"><a href="{% url value_added_report cluster_id=cluster.id %}">Value Added Report</a></p>
	{% endif %}
</div>
{% endblock %} 
