{% extends "base.html" %}

{% load humanize %}

{% block title %}
     Value-added Report for {{ cluster }}
{% endblock %}

{% block extra_head %}
<style>
	ul
	{
		list-style-type: none;
		display: inline;
	    margin: 0;
		padding: 0;
	}
	li
	{
		display: inline;
	    margin: 0;
		padding: 0;
	}
</style>

{% endblock %}

{% block content %}

<div class="reports">

{% include "clusters/_cluster_nav.html" %}

	<form action="." method="POST" >{% csrf_token %}
	<table>
		<tr>
			<th style="text-align: right;" >Starting Function:</th>
			<td>{{ form.starting_function }}</td>
		</tr>
		<tr>
			<th style="text-align: right;" >Resource Name contains:</th>
			<td>{{ form.resource_name_contains }}</td>
		</tr>
		{% if resource_aspect_name %}
			<tr>
				<th style="text-align: right;" >{{ resource_aspect_name }}:</th>
				<td>{{ form.resource_aspect }}</td>
				<td><input id="submit" type="submit" value="Go" /></td>
			</tr>
		{% else %}
			<tr>
				<td>&nbsp;</td>
				<td><input id="submit" type="submit" value="Go" /></td>
			</tr>
		{% endif %}
	</table>
	</form>
	
	{% if rows %}
		<h4>Value-added Report for {{ cluster }}</h4>
		<table>
		{% for a, b, c in rows %}
			{% if a == "Function:" %}
				<tr style="padding-top: 1em;" class="even" >
					<th style="text-align: right; font-strength: bold; " >{{ a }}</th>
					<th style="text-align: left; font-strength: bold;" >{{ b }}</th>
			{% else %}
				<tr>
					<td>{{ a }}</td>
					<th style="text-align: right;" >{{ b }}</th>
			{% endif %}
				<td style="text-align: right;" >{{ c }}</td>
			</tr>
		{% endfor %}
		</table>
	{% endif %}

</div>
{% endblock %} 