{% extends "base.html" %}

{% block title %}
     About the Local Economic Development website
{% endblock %}


{% block content %}
<h3>About this site</h3>

<ul>
	<li>It's just getting started.</li>
	<li>
		The goal is stated in the tagline: 
		Communities, Clusters, Networks and Resources: Analysis, Planning, Formation, Administration and Accounting.
	</li>
	<li>
		It's being developed by the people at <a href="http://www.group-accounting.com" target="_blank" >Group Accounting</a>, 
		in collaboration with invited communities who are working on local economic development.
	</li>
	<li>
		The plan is to start with resource flow models of local economic clusters, then add a lot of features for economic analysis.  
		So far, that means radial graphs and function-resource tables.  Lots more to come.
	</li>
	<li>
		You can read more about the theory behind these models 
		<a href="http://www.aisvillage.com/rea25/haugen/beyondtheenterprise.html" target="_blank" >here</a> 
		and <a href="http://en.wikipedia.org/wiki/Business_cluster">here</a>.
	</li>
	<li>
		After analysis, we want to assist in planning and formation of local economic networks. 
		For example, we want to provide features to help grant writers develop proposals and business plans.
	</li>
	<li>
		Then we plan to provide software for administering local economic networks.  We've already done a lot of that: 
		see <a href="http://www.group-accounting.com/Home/fooddistribution" target="_blank" >software for food networks</a>.
	</li>
	<li>
		If you want to participate, or have questions, please please <a href="{% url send_email %}" target="_blank">send us an email</a>.
	</li>
</ul>

{% endblock %} 
