<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}{% endblock %}</title>


<link type="text/css" href="/site_media/css/base.css" rel="stylesheet" />

	{% block extra_head %}
    {% endblock %}
	

</head>
<body>
	
	{% comment %}
	todo: make fadeout work using dojo, move to under tabs, add style
	{% if messages %}
		<div style="width: 800px;">
		<ul id="messages">
			{% for message in messages %}
			<li id="message_{{ forloop.counter }}"><a href="#" onclick="$('#message_{{ forloop.counter }}').fadeOut(); return false;"><small>clear</small></a> {{ message }}</li>
			{% endfor %}
		</ul>
		</div>
	{% endif %}
	{% endcomment %}
	
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</body>
</html>