/*general section */
body
{
	font-family: Myriad,Arial,Helvetica,clean,sans-serif; 
	font-size: 90%;
	margin: 0 4em 2em 4em;
	background-color: white; /*#f5f5f5;*/
}
#top {
	position: relative;
	height: 75px;
	border-bottom: 5px solid #c4c4c4; /*#ffcc00;*/
	margin-bottom: 0;
}
#header {
	text-align: left;
	width: 60%;
	margin: 0;
	padding: 0;
	float: left; 
	margin-bottom: 0;
}
#header h2 {
	font-size: 2.5em;
	font-family: cambria, times new roman, serif;
	margin: 0;
	padding: 5px 3px 0 0;
	float: left;
}
#header img {
	margin-top: 3px;
}
#header a {
	text-decoration: none;
}
.loceconLetters {
	color: black;
}
.otherLetters {
	color: #858585;
}
#rightLinks {
	margin: 0;
	font-size: .8em;
	float: right; 
}
#rightLinks ul {
	list-style-type: none;
	padding:0;
}
#topLinks li {
	display: inline;
	padding: 4px 0 0 15px;
	color: black;
	float: right;
}

/*
#topLinks a:link,a:visited {
	color: black;	
}
*/

#topLinks a:hover {
    color: slategray;
}
#tabLinks {
	position: absolute;
	right: 0px;
	top: 53px;
}
#tabLinks li {
	float: left;
}
#tabLinks a:link,a:visited {
    display:block;
	width: 80px;
    font-weight:bold;
    text-align: center;
    padding:5px 10px 5px 10px !important;
    border-left: solid 2px #F5F5F5;
    text-decoration: none;
}
#tabLinks a:hover {
    background-color: #9d9d9d;
    color: white;
}
.hiliteLink { 
    background-color: #c4c4c4; 
    color: black; 
}
.regularLink { 
    background-color: #858585;
    color:#FFFFFF;
}
.clear {
	clear: both;
}
/* content section */
#content {
	position: relative;
	background-color: white;
	padding: 0; 
	font-size: 1.1em;
	margin: 0; 
	color: #191919;
}
#content ul {
	margin: 0;
	padding: 0;
}
.community {
	background-color: #f4f4f4; 
	text-align: center;
	list-style-type: none;
	width: 100%;
	margin-bottom: 3px;
	padding: 5px 0 5px 0;
}
.cluster {
	list-style-type: none;
	border-bottom: 1px solid #b6b6b6;
	padding: 5px 0 10px 0;
	color: #6e6e6e;
}
.description p {
	margin: 2px 10px 4px 1em;
	font-size: 85%;
	font-style: italic;
	text-align: left;
}
.community-name {
	font-weight: bold;
}
.cluster-name {
	font-weight: bold;
	padding-left: 15px;
}

.cluster-link {
    float: left;
    display: block;
    width: 80px;
    background-color: #cfcfe1; 
    color: #494949;
    text-decoration: none;
    padding: 4px 5px 4px 5px;
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    margin-right: 20px;
	border: 1px solid #b2b2b2;
}

 a.cluster-link:hover {
    background-color: #e7e7f0;
}

.cluster-buttons {
    float: right;
}


/* tables */
		table th
		{
			font-weight: bold;
			color: gray;
		}

		th, td
		{
			padding-left:5px;
		}
		th
		{
			font-weight:bold;
		}

		.ga-event-table
		{
			font-size: 100%; 
			border-collapse: collapse; 
			border-style: solid; 
			border-width: 1px; 
			border-color: lightgrey;	
		}

		.ga-event-table th
		{
			border-style: solid; 
			border-width: 1px; 
			border-color: gray;
			background-color: #EAF2D3;
			padding-left: 4px;
			padding-right: 4px;
			font-weight: bold;
		}

		.ga-event-table td
		{
			border-style: solid; 
			border-width: 1px; 
			border-color: lightgrey;
			padding-left: 4px;
			padding-right: 4px;
		}

		.read-only-td
		{
			background-color: #E9E9E9; !important;
		}

		.read-only-input
		{
			background-color: #E9E9E9; !important;
			border-style: solid; 
			border-width: 1px; 
			border-color: #E9E9E9; 
		}

	tr.even td 
	{
		color:#000000;
		background-color:#EAF2D3;
	}
	
/* misc */
	
	.errorlist
	{
		color: red;
	}
	.errorlist ul
	{
		list-style-type:none;
	}
	
	
	@media print
	{
		.do-not-print
		{
			display: none !important; 
		}
	}
	
	p
	{
		margin: 1em 1em 1em 1em;
	}
	h1
	{
		margin: 1em 1em 1em 1em;
		font-size: 140%;
		font-weight:bold;
	}
	h2
	{
		margin: 1em 1em 1em 1em;
		font-size: 130%;
		font-weight:bold;
	}
	h3
	{
		margin: 1em 1em 1em 1em;
		font-size: 120%;
		font-weight:bold;
	}
	h4
	{
		margin: 1em 1em 1em 1em;
		font-size: 110%;
		font-weight:bold;
	}
	