<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
    "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
	<title>{{ flatpage.title }}</title>
	<link type="text/css" href="/site_media/css/reset.css" rel="stylesheet" />
	<link type="text/css" href="/site_media/css/base.css" rel="stylesheet" />
	<link type="text/css" href="/site_media/css/flatpage.css" rel="stylesheet" />
</head>

<body>
<div id="top">
	<div id="header">
		<h2><a href="/"><span class="loceconLetters">loc</span><span class="otherLetters">al </span><span class="loceconLetters">econ</span><span class="otherLetters">omic development</span></a></h2>
		<a href="/mushy/" target="_blank" >
            <img id="mushy" src="/site_media/images/mushy40.jpg" alt="Mushy the chanterelle mushroom" title="Mushy the chanterelle mushroom"/>
        </a>
		<h3 id="firstSubtitle">Communities, Clusters, Networks and Resources</h3>
		<h3 id="secondSubtitle"><img src="/site_media/images/arrow_turn_right_gr.png" />Resource Maps, Network Flows</h3>
		<h3 id="thirdSubtitle"><img src="/site_media/images/arrow_turn_right_pu.png" />As-is vs To-be, Gaps, Opportunities</h3>
	</div>
	<div id="rightLinks">
		<ul id="topLinks">
			<li><a href="">Log in</a></li>
			<li><a href="">Contact Us</a></li>
		</ul>
		<ul id="tabLinks">
			<li><a class="regularLink" href="/">Home</a></li>
			<li><a class="regularLink" href="/about/">About</a></li>
			<li><a class="regularLink" href="/maps/">Features</a></li>
			<li><a class="regularLink" href="/">Stories</a></li>
			<li><a class="regularLink" href="/clusters/">View Clusters</a></li>
		</ul>
	</div>
</div>

{{ flatpage.content }}

</body>
</html>
